{% from "text_entry.html" import text with context %}

{% if results or without_mutations %}
  <button class="btn btn-default run-again" onclick="$('.search-form').removeClass('hidden');$(this).hide()">
    <span class="glyphicon glyphicon-pencil"></span>
    Modify this query and search again
  </button>
{% endif %}


<form
  action="{{ url_for('SearchView:mutations') }}"
  class="search-form {{ 'hidden' if results or without_mutations }}"
  method="POST"
  id="mutations-form"
  enctype="multipart/form-data"
>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  {# TODO: the example should return more representative results #}
  {% set example='HTR3E I183823756M\nSTAT6 W737C\nchr12 57490358 C A\nTP53 R282W\nBRCA1 L432V' %}
  <div class="options">
    <a class="btn btn-default btn-file">
      Select VCF file  <input type="file" name="vcf-file">
    </a>
    <a href="?mutations={{ example | urlencode }}" class="btn btn-default set-example">Load an example</a>
    <button class="btn btn-primary mut-search">
      Search {{ 'again' if results }}
      <span class="glyphicon glyphicon-search"></span>
    </button>
    {% with widgets=widgets.mutations, bar_class="btn-group" %}
      {% include 'filters/bar.html' %}
    {% endwith %}
  </div>
  <label>
    <input type="checkbox" name="store_on_server" onchange="$('.storage_details').toggleClass('hidden')">
    Store these mutations on server*.
    {% if current_user.is_authenticated %}
      Saving dataset to {{ current_user.username }} account.
    {% else %}
      To be able to browse these mutations as a dataset later, please
      <a href="{{ url_for('ContentManagementSystem:login') }}">login first</a>.
    {% endif %}
  </label>
  <div class="storage_details hidden">
    Dataset name: <input name="dataset_name" class="form-control">
  </div>
  <div class="inputs">
    {# The length of the textarea should change dynamically up to 30 rows - JS #}
    {# The single-line placeholder will be substituted by multiline placeholder with JS in all browsers #}
    <textarea
      name="mutations"
      class="form-control muts-textarea"
      placeholder="chr1 12345678 A C"
      data-full-placeholder="Type in genomic or protein mutations separated by new lines, in following format:\n{{ example }}\n(you can mix genomic and protein mutations as long as each is placed in a separate line)"
      rows="6"
    >
      {%- if query -%}
        {{ query }}
      {%- endif -%}
    </textarea>
    <span class="help-block">
      {{ text('search-mutations') }}
    </span>
  </div>
  <input type="hidden" name="fallback" value="True">
</form>

  <div
    class="results {{ 'hidden' if not results and not badly_formatted and not without_mutations }}"
  >
    {% include 'search/results/mutations.html' %}
  </div>
  <div id="footnote">
    * Mutations will be stored for 7 days. Ticking this box allows you to return to the results later easily.
  </div>
