{% from "search/results/gene.html" import gene_results with context %}

<form
  action="{{ url_for('SearchView:proteins') }}"
  class="search-form widget-form"
  method="GET"
  id="proteins-form"
>
  <div class="options">
    {% with widgets=[widgets.proteins['ptm']] %}
      {% include 'filters/bar.html' %}
    {% endwith %}
  </div>
  <div class="inputs widget">
    <input
      name="filter[Search.query]"
      type="text"
      class="form-control"
      placeholder="TP53 or NM_000345"
      {% if query %} value="{{ query }}" {% endif %}
    >
  </div>
  {% with widgets=[widgets.proteins['feature']] %}
    {% include 'filters/bar.html' %}
  {% endwith %}
  <div class="results panel panel-default {{ 'hidden' if not results }}">
    <ul>
    {% for result in results %}
      {{ gene_results(result) }}
    {% endfor %}
    </ul>
    <div class="empty {{ 'hidden' if results or query }}">
      <span class="glyphicon glyphicon-search"></span>
      <p>Please type at least three characters to get the results.</p>
      <p>You can use a name of a protein (like BRCA1) or refseq identifier (like 000345 or NM_000345).</p>
      <p class="addition">If you want search with just one or two characters, you can still use search button (below).</p>
    </div>
    <div class="waiting hidden">
      <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
      <p>Retrieving results...</p>
    </div>
    <div class="no-results {{ 'hidden' if results or not query}}">
      <span class="glyphicon glyphicon-remove"></span>
      <p>No results found</p>
    </div>
  </div>
  <div class="buttons">
    <button
      class="btn btn-primary {{ 'js-hidden' if (query | length) > 4 }} search-button save"
    >
      Search
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
  <input type="hidden" name="fallback" value="True">
</form>
