<div class="btn-group dropdown" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="export_dropdown" data-toggle="dropdown">
    <span class="glyphicon glyphicon-download"></span>
    Save {{ entity if entity else 'image' }} as
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu export-menu" aria-labelledby="export_dropdown">
    <li><a href="#" class="export_svg"><span class="glyphicon glyphicon-picture"></span> SVG image</a>
    <li><a href="#" class="export_print"><span class="glyphicon glyphicon-print"></span> PDF file (print)</a>
  </ul>
</div>
