{% extends "base.html" %}
{% from "text_entry.html" import text with context %}

{% block title %} Gene lists - {{ super() }} {% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li class="active">Gene lists</li>
{% endblock %}


{% block content %}

  <h3>Gene lists</h3>

  <div>
    {{ text('genes-lists-top') }}

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Genes count</th>
      </tr>
      {% for list in lists %}
        <tr>
          <td>
            <a href="{{ url_for(
                'GeneView:list',
                list_name=list.name,
                filters=('Mutation.sources:in:' + list.mutation_source_name if list.mutation_source_name else None)
            ) }}">
              {{ list.name }}
            </a>
          </td>
          <td>
            {{ list.entries | length }}
          </td>
        </tr>
      {% endfor %}

    </table>

    {{ text('genes-lists-down') }}
  </div>

{% endblock %}
