{% extends "gene/browse.html" %}
{% from "text_entry.html" import text with context %}

{% block title %} Gene list: {{ list_name }} - {{ super() }} {% endblock %}

{% block leaf %}
  <li class="active">{{ list_name }}</li>
{% endblock %}


{% block introduction %}
  <h3>Gene list: {{ list_name }}</h3>

  {{ text('genes-list') }}
{% endblock %}

{% block data_url %}{{ url_for('GeneView:list_data', list_name=list_name) }}{% endblock %}

{% block columns %}
{
  title: 'Gene name',
  field: 'name',
  align: 'center',
  valign: 'middle',
  sortable: true
},
{
    title: 'Summary',
    field: 'full_name',
    align: 'left',
    valign: 'middle',
    sortable: true
},
{
  title: 'Preferred isoform',
  field: 'refseq',
  align: 'center',
  valign: 'middle',
  formatter: proteinFormatter
},
{
  title: '# mutations',
  sortable: true,
  valign: 'middle',
  align: 'center',
  field: 'muts_cnt'
},
{
  title: '# PTM mutations',
  sortable: true,
  valign: 'middle',
  align: 'center',
  field: 'ptm_muts_cnt'
},
{
  title: '# PTM sites',
  sortable: true,
  valign: 'middle',
  align: 'center',
  field: 'ptm_sites_cnt'
},
{
  title: 'FDR',
  sortable: true,
  valign: 'middle',
  align: 'center',
  field: 'fdr',
  formatter: fdrFormatter
}
{% endblock %}


{% block other_js %}
var isoforms_url = decodeURIComponent(
  '{{ url_for('GeneView:isoforms', gene_name='<gene_name>') }}'
);

function detailFormatter(index, gene_row)
{
  var url = isoforms_url.replace('<gene_name>', gene_row.name);

  $.ajax({
    url: url,
    type: 'GET',
    async: true,
    success: function(data)
    {
      var detail_row = $('tr[data-index=' + index + ']')
      detail_row = detail_row.next('tr.detail-view')

      if(detail_row)
      {
        var html = nunjucks.render(
            'gene_isoforms.njk',
            {
                gene_isoforms: data,
                gene_name: gene_row.name
            }
        );
        detail_row.children('td').html(html)
      }
    }
  })
  return 'Loading...'
}

function fdrFormatter(value, row, index)
{
  return value.toPrecision(2)
}

function proteinFormatter(value, row, index)
{
  var site_params = get_url_params();
  var query = site_params.filters ? '?filters=' + site_params.filters : ''
  output = value + '<br>'
  output += '<a href="/protein/show/' + value + query + '">protein view</a>'
  output += '<br>'
  output += '<a href="/network/show/' + value + query + '">network view</a>'
  return output
}
{% endblock %}
