{% extends "base.html" %}

{% block title %} {{ gene.name }} - {{ super() }} {% endblock %}

{% block head %}
  {{ super() }}
  {% assets "css_gene" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {{ dependency('bootstrap_table') }}
  {{ dependency('bootstrap_table_css') }}

  {{ dependency('table_export') }}
  {{ dependency('bootstrap_table_export') }}
{% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('GeneView:lists') }}">Proteins</a></li>
  <li class="active">{{ gene.name }}</li>
{% endblock %}


{% block content %}

  <div class="header-panel">
    <h3>All isoforms for {{ gene.name }}</h3>
    {% if gene.full_name %}
      <div class="gene-wide-info">
        {{ gene.full_name }}
      </div>
    {% endif %}
    <div class="gene-wide-info">
      Chromosome: {{ gene.chrom }}
    </div>
    <div class="gene-wide-info">
      Strand: {{ '+' if gene.strand else '-' }}
    </div>
  </div>

  <div id="toolbar"></div>

  <table
    class="table"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-search="true"
    data-show-columns="true"
    data-minimum-count-columns="2"
    data-show-export="true"
    data-sort-name="refseq">
    <thead>
    <tr>
      <th data-sortable=true data-field="refseq">
        Refseq
      </th>
      <th data-sortable=true>
        Full name
      </th>
      <th data-sortable=true>
        Uniprot ID
      </th>
      <th data-sortable=true>
        Residues
      </th>
      <th data-sortable=true>
        CDS
      </th>
      <th data-sortable=true>
        Transcription
      </th>
      <th data-sortable=true>
        Views
      </th>
    </tr>
    </thead>
    <tbody>
    {% for isoform in gene.isoforms or '' %}
      <tr class="{{ 'preferred' if  isoform.is_preferred_isoform }}">
        <td>
          {{ isoform.refseq }} {% if isoform.is_preferred_isoform %} <span class="preferred">Preferred</span> {% endif %}
        </td>
        <td>
          {{ isoform.full_name }}
        </td>
        <td>
          {% set references = isoform.external_references %}
          <ul class="external-references list-unstyled">
          {% for uniprot in references.uniprot_entries | sort(attribute='reviewed', reverse=True) %}
              <li class="uniprot">
                {% set reviewed = "reviewed" if uniprot.reviewed else "unreviewed" %}
                <div class="status-indicator {{ reviewed }}" title="{{ reviewed | title }} entry">
                  <span class="glyphicon glyphicon-file"></span>
                  {% if uniprot.reviewed %}
                    <span class="glyphicon glyphicon-star-empty star"></span>
                  {% endif %}
                </div>
                <a href="http://www.uniprot.org/uniprot/{{ uniprot.accession }}" {{ target }}>{{ uniprot.accession }}</a>{% if uniprot.isoform != 1 %},
                <a href="http://www.uniprot.org/uniprot/{{ uniprot.accession }}#{{ uniprot.accession }}-{{ uniprot.isoform }}" {{ target }}>isoform {{ uniprot.isoform }}</a>
              {% endif %}
          {% endfor %}
          </ul>
        </td>
        <td>
          {{ isoform.length }}
        </td>
        <td>
          {{ t_sep(isoform.cds_start) if isoform.cds_start else '?' }}
          -
          {{ t_sep(isoform.cds_end) if isoform.cds_end else '?' }}
        </td>
        <td>
          {{ t_sep(isoform.tx_start) if isoform.tx_start else '?' }}
          -
          {{ t_sep(isoform.tx_end) if isoform.tx_end else '?' }}
        </td>
        <td>
          <ul class="list-unstyled">
            <li><a href="{{ url_for('ProteinView:show', refseq=isoform.refseq) }}">
              Sequence View
              ({{ isoform.sites | length }} PTM sites,
              {{ isoform.confirmed_mutations_count }} mutations)
            </a>
            {# Note: fetching interactors may be slow sometimes, although very useful #}
            {% set interactors = isoform.interactors_count %}
            <li><a href="{{ url_for('NetworkView:show', refseq=isoform.refseq) }}" class="{{ 'inactive' if not interactors }}">
              Network View
              {% if interactors %}
                ({{ interactors }} PTM enzymes)
              {% endif %}
            </a>

          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
