{% extends "cms/admin/base.html" %}


{% block head %}
  {{ super () }}

  {% assets "js_cms_editor" %}
    <script src="{{ ASSET_URL }}"></script>
    <script>init_tinymce()</script>
  {% endassets %}
{% endblock %}

{% set title = 'Edit "' + (page.title or '') + '" page' %}

{% block title %} {{ title }} - {{ super() }} {% endblock %}


{% block content %}

<h3>{{ title }}</h3>

<form method="POST">
  {% with page=page %}
    {% include 'cms/admin/editor.html' %}
  {% endwith %}
  <div class="submit">
    <button type="submit" class="btn btn-success">Save page</button>
  </div>
</form>
{% endblock %}


{% block user_menu %}
  {% if page %}
    <a href="{{ url_for('ContentManagementSystem:page', address=page.address) }}" class="btn btn-warning">
	  <span class="glyphicon glyphicon-share-alt"></span>
	  Open this page
    </a>
  {% endif %}
  {{ super() }}
{% endblock %}
