{% extends "cms/admin/base.html" %}


{% block head %}
  {{ super () }}

  {{ dependency('bootstrap_table') }}
  {{ dependency('bootstrap_table_css') }}
{% endblock %}


{% block title %} Pages - {{ super() }} {% endblock %}


{% block content %}

<h3>Manage pages</h3>

<div id="toolbar">
  <a href="{{ url_for('ContentManagementSystem:add_page') }}" class="btn btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add a new page
  </a>
</div>


<table class="table"
       data-toolbar="#toolbar"
       data-toggle="table"
       data-search="true"
       data-show-columns="true"
       data-minimum-count-columns="2"
       data-show-export="true"
       >
    <thead>
        <tr>
            <th data-sortable=true>Title (click to edit)</th>
            <th data-sortable=true>Address (click to visit)</th>
            <th data-sortable=true>Remove</th>
        </tr>
    </thead>
    <tbody>
		{% for entry in entries or [] %}
        <tr>
            <td>
              <a href="{{ url_for('ContentManagementSystem:edit_page', address=entry.address) }}">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span>
                  {{ entry.title }}
              </a>
            </td>
            <td>
                <a href="{{ url_for('ContentManagementSystem:page', address=entry.address) }}">
                  <span class="glyphicon glyphicon-globe" aria-hidden="true" title="Visit the page"></span>
                  /{{ entry.address }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('ContentManagementSystem:remove_page', address=entry.address) }}">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Remove"></span>
                  Remove
              </a>
            </td>
        </tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}
