.header-panel
  .entry-type
    display: inline-block
    text-transform: uppercase
    color: gray

  h3
    display: inline-block
    margin-top: 5px
    margin-bottom: 5px

  .actions
    float: right
