#network_plot
  display: inline-block
  position: relative
  width: 100%
  // let's occupy 50% of the screen. Remember to keep up to date with network's ratio!
  padding-bottom: 50%
  vertical-align: top
  overflow: hidden

  .node
    circle
      stroke-width: 2.2px
      //fill: #ccc

    // site
    rect
      stroke: orange

    &:hover, &.hover
      circle
        fill: #efe

  text
    font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif
    text-anchor: middle
    pointer-events: none

    &.label
      transform: translate(0, .35em)

    &.type
      font-style: italic

  .link
    stroke: #777
    stroke-width: 1px

.network
  &.panel
    margin-bottom: 0

  .panel-body
    padding: 0

  svg
    top: 0
