#plot_area
  display: inline-block
  position: relative
  width: 100%
  // let's occupy 50% of the screen. Remember to keep up to date with network's ratio!
  padding-bottom: 50%
  vertical-align: top
  overflow: hidden
  margin-bottom: 10px

.tracks-controls, .tracks-box, #plot_area
  opacity: 1
  transition-property: all
  transition-duration: 0.3s

.scroll-feedback
  right: 150px
  font-size: 90%
  color: #8a6d3b
  z-index: 10
  top: 2px


.invisible
  opacity: 0!important

text
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

  &.label
    font-weight: bold

.site
  rect, path
    stroke: #555

rect, path
  .phosphorylation &
    fill: rgb(67, 162, 202)

  .acetylation &
    fill: rgb(186, 228, 188)

  .ubiquitination &
    fill: rgb(123, 204, 196)

  .methylation &
    fill: rgb(240, 249, 232)

  .multi_ptm &
    fill: rgb(8, 104, 172)

@import "_color_legend.sass"

.swatch
  .impact

    .color
      border-radius: 50%
      width: 10px

  .site-position
    width: 0
    height: 0
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-bottom: 12px solid rgb(67, 162, 202)

.axis
  shape-rendering: crispEdges

  .minor
    stroke-opacity: .5

  line, path
    fill: none
    stroke: #000

.needle
  line
    stroke: black

  *:hover
    cursor: pointer

@import "mimp"

@import "mutation_table"

.panel-needleplot
  margin-bottom: 0
  border-bottom: 0
  border-radius: 4px 4px 0 0

  .panel-body
    padding-bottom: 0

.panel-tracks
  border-top: 0
  border-radius: 0 0 4px 4px

  .panel-body
    padding-top: 0

.popover.tooltip
  max-width: 500px!important
  ul.minor_mimp_kinases
    li
      display: inline-block

  ul.minor_mimp_kinases, ul.kinases
    li::after
      content: ','
      margin-right: 1ch
    li:last-of-type::after
      content: ''
      margin-right: 0

  ul.kinases
    padding-left: 1ch
    &::before
      content: '('
    &::after
      content: ')'
    display: inline-block
    li
      padding: 0
      display: inline

@import "protein_summary"

.kinase
  border-bottom: 1px dashed #999
