// btn-file hacks idea thanks to free gist by Cory LaViska
.btn-file
  position: relative
  overflow: hidden

.btn-file input[type=file]
  position: absolute
  top: 0
  right: 0
  min-width: 100%
  min-height: 100%
  font-size: 100px
  text-align: right
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block

.results
  padding: 0 20px
  min-height: 300px

  ul
    padding-left: 5px
    list-style-type: none

  /* does not improve experience meningfuly
    li
      &:nth-child(odd)
        background-color: #f9f9f9

  .empty
    text-align: center

    span
      display: block
      font-size: 140px
      color: #eee
      margin-top: 35px
    p
      color: #aaa
      font-size: 120%
      padding: 15px


.search-form

  .result, .results, .inputs, .options
    margin: 20px 0

  .isoform
    margin-left: 20px
    margin-bottom: 0

  // refseq
  h5
    margin-top: 15px
    margin-bottom: 5px
    font-weight: bold

  .shortcuts
    margin: 0

  .buttons
    text-align: right

  .mut-search
    float: right

.table-rowspan-hover
  /*
    tbody:nth-child(odd)
      background: #f5f5f5

  tbody:hover td[rowspan], tr:hover td
    background: #f5f5f5


.placeholder
  color: #aaa

.strand, .chrom

  display: inline-block

.chrom
  &::before
    content: 'Chromosome:'
    margin-right: 1ch

.strand
  &::before
    content: 'Strand:'
    margin-right: 1ch
