@import "variables"


#content
  position: relative

#search-bar
  .selectize-control, button
    height: $button-height

  .selectize-dropdown
    position: absolute
    z-index: 15

footer
  margin-top: 50px
  border-top: 1px dashed #ccc
  padding: 20px 15px
  padding-bottom: 10px
  color: #777

  li
    display: inline-block
    margin-right: 2.5ch

.svg-content-responsive
  display: inline-block
  position: absolute
  top: 10px
  left: 0

.user-menu
  width: 100%
  text-align: right
  margin-top: 10px
