@import "variables"

#content
  position: relative
  clear: both

footer
  margin-top: 50px
  border-top: 1px dashed #ccc
  padding: 20px 15px
  padding-bottom: 10px
  color: #777

  li
    display: inline-block
    margin-right: 2.5ch

.svg-content-responsive
  display: inline-block
  position: absolute
  top: 10px
  left: 0

.header
  width: 100%
  text-align: right
  margin: 10px 0

.user-menu, .search-box
  float: right

// when changing this, make sure that the longest gene name fits;
// currently it is 'LOC400927-CSNK1E'; you can get this from db e.g. with:
// r = db.session.execute(sqlalchemy.select([Gene.name])).fetchall()
// max(r, key=lambda x: len(x[0]))[0]
$search-box-width: 225px

.search-box
  position: relative
  text-align: left
  width: $search-box-width
  margin: 0 4px

  .list-group-item
    width: $search-box-width

    &:focus
      outline: none

#search-quick-results
  position: absolute
  z-index: 10
  display: none
