@import "variables"

#content
  position: relative
  clear: both

footer
  margin-top: 50px
  border-top: 1px dashed #ccc
  padding: 20px 15px
  padding-bottom: 10px
  color: #777

  li
    display: inline-block
    margin-right: 2.5ch

.svg-content-responsive
  display: inline-block
  position: absolute
  top: 10px
  left: 0

.header
  width: 100%
  text-align: right
  margin: 10px 0

.user-menu, .search-box
  float: right

// when changing this, make sure that the longest gene name fits;
// currently it is 'LOC400927-CSNK1E'; you can get this from db e.g. with:
// r = db.session.execute(sqlalchemy.select([Gene.name])).fetchall()
// max(r, key=lambda x: len(x[0]))[0]
$search-box-width: 225px

.navbar-form
  padding: 0 5px

.search-box
  position: relative
  text-align: left
  width: $search-box-width
  margin: 0 4px

  input.form-control
    width: inherit!important

  #waiting-indicator
    display: none
    position: absolute
    right: 10px
    top: 11px
    color: lightblue

  .list-group-item
    width: $search-box-width

    &:focus
      outline: none

.export button::before
  content: 'Export'
  padding-right: 8px

.columns div[title=Columns] button::before
  content: 'Change table columns'
  padding-right: 8px

#search-quick-results
  position: absolute
  z-index: 10
  display: none

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

@-webkit-keyframes spin
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)

@-moz-keyframes spin
  from
    -moz-transform: rotate(0deg)
  to
    -moz-transform: rotate(359deg)


#spinner
  position: fixed
  right: 0
  bottom: 0
  font-size: 35px
  background-color: rgba(255, 255, 255, 0.8)
  padding: 10px 7px
  border-top-left-radius: 5px
  z-index: 10

.glyphicon-spin
  transform-origin: 50% 49%
  -webkit-transform-origin: 50% 49%
  -ms-transform-origin: 50% 49%
  $function: ease-in-out
  $time: 3s
  animation: spin $time infinite $function
  -webkit-animation: spin $time infinite $function
  -moz-animation: spin $time infinite $function
  -ms-animation: spin $time infinite $function
