{% extends 'widgets/widgets_panel.html' %}
{% from "help.html" import help with context %}

{% block panel_class %}filters-panel{% endblock %}


{% block panel_title %}
  Data Filters {{ help('data-filters', 'low-padding') }}
{% endblock %}


{% block widgets %}

  <button name="clear_filters" value="True" class="btn btn-link clear">clear</button>

  <div class="dataset-widgets">
    {% block dataset_widgets %}
    {% endblock %}
  </div>

  <div class="other-widgets">
    {% block other_widgets %}
    {% endblock %}
  </div>

{% endblock %}
