{% extends 'filters/box.html' %}
{% from 'widgets/widgets.html' import render_widget with context %}
{% from 'widgets/widgets.html' import widget_list with context %}

{% block dataset_widgets %}
  <div class="is-ptm">
    {{ render_widget(widgets.is_ptm) }}
  </div>

  <div class="dataset">
    {{ render_widget(widgets.dataset) }}
    {% if widgets.custom_dataset.labels %}
      {{ render_widget(widgets.custom_dataset) }}
    {% endif %}
  </div>

  <div class="dataset-specific dynamic-widgets">
    {{ widget_list(widgets.dataset_specific, collapse=True) }}
  </div>
{% endblock %}

{% block other_widgets %}
  <div class="other-widgets">
    <div class="ptm-type">
      {{ render_widget(widgets.ptm_type) }}
    </div>
    <div class="other">
      {{ widget_list(widgets.other) }}
    </div>
  </div>
{% endblock %}
