<h5>{{ kinase.gene_name }}</h5>
<i>{{ kinase.refseq }}</i>
<p>
Interacts with {{ site }} PTM site (among others),<br>
which is affected by mutation represented in this row.
</p>
If the same filters as active are applied to this protein, then it has:
<div>
    <ul>
        <li> {{ kinase.muts_count }} mutations
             ({{ kinase.ptm_muts }} PTM muts)
        <li> {{ kinase.sites_count }} PTM sites
        {% if kinase.meta.length %}
            <li> {{ kinase.meta | join('; ') }}
        {% endif %}
    </ul>

    <a href="{{ kinase.refseq }}">Show protein view</a>
</div>