{% from 'macros.njk' import represent_site %}

{% macro represent_mimp(mimp) %}
  <ul>
      <li> {% include 'mimp_image.njk' %}
      <li> Site: {{ represent_site(mimp.site) }}
      <li> Position in motif: {{ mimp.pos_in_motif }}
  </ul>
{% endmacro %}

{% macro kinase_link(mimp) %}
  {% if mimp.kinase %}
    <span data-refseq="{{ mimp.kinase.refseq }}" class="kinase">{{ mimp.pwm }}</span>
  {% else %}
    {{ mimp.pwm }}
  {% endif %}
{% endmacro %}

{% macro weaker_predictions(annotations_with_effect, effect_count, effect, header) %}
  {% if header %}<h4>{% endif %}
  {% set plural = effect_count > 2 %}
  There {{ 'are' if plural else 'is' }} {{ effect_count - 1 }} other predicted
  {% if effect == 'gain' %}
    {{ 'gains' if plural else 'gain' }}:
  {% else %}
    {{ 'losses' if plural else 'loss' }}:
  {% endif %}
  {% if header %}</h4>{% endif %}
  <ul class="minor_mimp_kinases">
  {% for i in range(1, effect_count) %}
    {% set mimp = annotations_with_effect[i] %}
    <li> {{ kinase_link(mimp) }}
    (p={{ mimp.probability | round(3) }})
  {% endfor %}
  </ul>
{% endmacro %}

{% macro best_prediction(best, effect) %}
  {{ kinase_link(best) }} (probability p={{ best.probability | round(3) }})
{% endmacro %}

{% macro as_list_items(mimp_meta) %}
  {% for effect in ['gain', 'loss'] %}

    {% if mimp_meta[effect] | length %}
      {% set annotations_with_effect = mimp_meta[effect] %}
      {% set effect_count = annotations_with_effect | length %}
      {% set best = annotations_with_effect | first %}
      <li> {{ 'Best' if effect_count > 1 else 'Only' }} {{ effect }} of PTM site: {{ best_prediction(best, effect) }}
      {{ represent_mimp(best) }}
      {% if effect_count > 1 %}
      <ul>
        <li>{{ weaker_predictions(annotations_with_effect, effect_count, effect) }}
      </ul>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
