{% from 'macros.njk' import represent_site %}

{% macro represent_mimp(mimp) %}
  <ul>
      <li> {% include 'mimp_image.njk' %}
      <li> Site: {{ represent_site(mimp.site) }}
      <li> Position in motif: {{ mimp.pos_in_motif }}
  </ul>
{% endmacro %}

{% for effect in ['gain', 'loss'] %}
  {% if mimp_meta[effect] | length %}
    {% set annotations_with_effect = mimp_meta[effect] %}
    {% set effect_count = annotations_with_effect | length %}
    {% set best = annotations_with_effect | first %}
    <li> {{ 'Best' if effect_count > 1 else 'Only' }} {{ effect }}: {{ best.pwm }} (probability = {{ best.probability | round(3) }})
    {{ represent_mimp(best) }}
    {% if effect_count > 1 %}
    <ul>
      <li>
        {% set plural = effect_count > 2 %}
        There {{ 'are' if plural else 'is' }} {{ effect_count - 1 }} other predicted
        {% if effect == 'gain' %}
          {{ 'gains' if plural else 'gain' }}:
        {% else %}
          {{ 'losses' if plural else 'loss' }}:
        {% endif %}
        <ul class="minor_mimp_kinases">
        {% for i in range(1, effect_count) %}
          {% set mimp = annotations_with_effect[i] %}
          <li> {{ mimp.pwm }} (p={{ mimp.probability | round(3) }})</li>
        {% endfor %}
        </ul>
    </ul>
    {% endif %}
  {% endif %}
{% endfor %}
