<h5>{{ node.name }}</h5>
<i>{{ node.type }}</i>
<div>
{% if node.type === types.site %}
Nearby sequence: {{ node.nearby_sequence }}<br>
Mutations in nearby that satisfy applied filters: {{ node.mutations_count }}
{% endif %}


{% if node.protein %}
  Mutations satisfying applied filters: {{ node.protein.mutations_count }}
  <br>
  <a href="{{ nodeURL(node) }}">Show associated protein</a>
{% endif %}
</div>
