<h5>{{ node.type }}: {{ node.name }} {% if node.type === types.site %}({{ node.ptm_type | replace(',', ', ') }}){% endif %}</h5>
<div>
{% if node.type === types.site %}
  Nearby sequence: {{ node.sequence }}<br>
  Mutations in nearby that satisfy applied filters: {{ node.mutations_count }}<br>
  {% if node.impact != 'none' %}
    <p>
    Mutations in nearby
    {% if node.impact == 'network-rewiring' %}
      this site are predicted to have network-rewiring effect.
    {% else %}
      are affecting the site having '{{ node.impact }}' impact.
    {% endif %}
    </p>
    <div class="site-muts">
      {% set site = node %}
      <div class="tight">
        {% include 'site_mutations_table.njk' %}
      </div>
    </div>
  {% endif %}
{% elif node.type === types.group %}
  In this group there are:<br>
  {{ node.kinases.length }} kinases satisfying all filters, and<br>
  {{ node.total_cnt }} kinases at total.
{% endif %}

{% if node.type === types.drug %}
  {% set drug = node.data.drug %}
  {% set interaction = node.data.interaction %}
  <div class="badges">
  {% for group in drug.groups %}
    <div class="badge {{ group }}">{{ group }}</div>
  {% endfor %}
  </div>
  <div>
  {% if drug.type %}
  {{ drug.type | title }}
  {% endif %}
  </div>
  {% if interaction.actions %}
    <div>
    {% for action in interaction.actions %}
      {{ action | title }}
    {% endfor %}
    </div>
  {% endif %}
  <p>
    See more in DrugBank: <a href="https://www.drugbank.ca/drugs/{{ drug.drugbank }}">{{ drug.drugbank }}</a>
  </p>
{% endif %}

{% if node.protein %}
  Mutations satisfying applied filters: {{ node.protein.mutations_count }}
  <br>
  <a href="{{ nodeURL(node) }}">Show associated protein ({{ node.protein.refseq }})</a>
{% endif %}
</div>
