<ul class="list-inline gene-list {{ 'hide-excessive-genes' if more }}">
  {% set cnt = 10 %}
  {% for gene in genes %}
    <li>
      {% if gene.preferred_isoform %}
        <a href="/protein/show/{{ gene.preferred_isoform.refseq }}">{{ gene.name }}</a>
      {% else %}
        {{ gene.name }}
      {% endif %}
  {% endfor %}
  {% if more and genes | length > cnt %}
    </li><button class="btn btn-sm btn-default show-all" onclick="show_all_genes(this)">Show all genes ({{ genes | length - cnt }} more)</button>
  {% endif %}
</ul>
