<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Isoforms in DB</th>
      <th class="text-center">Preferred isoform</th>
    </tr>
  </thead>
  {% for gene in pathway.genes %}
    <tr>
      <td>
        {% if gene.isoforms_count %}
          <a href="/gene/show/{{ gene.name }}">{{ gene.name }}</a>
        {% else %}
          {{ gene.name }}
        {% endif %}
      </td>
      <td>{{ gene.isoforms_count }}</td>
      <td>
        {% if gene.preferred_isoform %}
          <a href="/protein/show/{{ gene.preferred_isoform.refseq }}">
            {{ gene.preferred_isoform.refseq }}
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
