{% from 'macros.njk' import list_site_kinases %}

Impact: {{ mutation.category }}<br>
Number of affected sites: {{ mutation.cnt_ptm }}<br>

{% if 'network-rewiring' in mutation.category %}
  {% set mimp_meta = mutation.meta.MIMP %}
  {% include 'mimp.njk' %}
{% endif %}

{% if mutation.sites | length > 0 %}
  Affected site{{ 's' if mutation.sites | length > 1 }}:
  {% for site in mutation.sites %}
    <div class="sub-cell">
      Position: {{ site.data.position }}<br>
      Residue: {{ site.data.residue }}<br>
      Type: {{ site.data.type | replace(',', ', ') }}<br>
      Kinases: {{ list_site_kinases(site, '','-') }}
    </div>
  {% endfor %}
{% endif %}
