{% from 'macros.njk' import list_site_kinases %}
{% from 'mimp.njk' import as_list_items %}

Impact: {{ mutation.category }}<br>
Number of affected sites: {{ mutation.cnt_ptm }}<br>

{% if 'network-rewiring' in mutation.category %}
  {{ as_list_items(mutation.meta.MIMP) }}
{% endif %}

{% if mutation.sites | length > 0 %}
  Affected site{{ 's' if mutation.sites | length > 1 }}:
  {% for site in mutation.sites %}
    <div class="sub-cell indented">
      Position: {{ site.position }}<br>
      Residue: {{ site.residue }}<br>
      Type: {{ site.type | replace(',', ', ') }}<br>
      {% if site.pmid | length %}
        <br>PubMed:
        <ul>
          {% for pmid in site.pmid %}
            <li><a href="https://pubmed.ncbi.nlm.nih.gov/{{ pmid }}">{{ pmid }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      Kinases: {{ list_site_kinases(site, '','-') }}
    </div>
  {% endfor %}
{% endif %}
