<table
  class="table site-muts-table"
  data-page-size="{{ page_size or '5' }}"
  data-pagination="true"
  data-page-list="[]"
  data-toggle="table"
  data-sort-name="distance"
>
  <thead>
  <tr>
    <th data-sortable="true">Mutation</th>
    <th data-sortable="true">In sequence</th>
    <th data-sortable="true" data-field="distance">Distance</th>
    <th data-sortable="true">Impact</th>
  </tr>
  </thead>
  {% for mutation in site.mutations %}
    {% set pos = site.position - mutation.pos %}
    <tr>
      <td>
        <a href="/mutation/show/{{ refseq }}/{{ mutation.pos }}/{{ mutation.alt }}"
           title="Open summary of this mutation"
        >{{ mutation.pos }}{{ mutation.alt }}</a>
      </td>
      <td>
        <a href="/protein/show/{{ refseq }}#{{ mutation.pos }}{{ mutation.alt }}"
           title="Show this mutation in sequence view"
           class="sequence">
          {% if pos < 7 -%}
            {{ site.sequence[:7 - pos] | join('') }}
          {%- endif -%}
          [{{ mutation.ref }}/{{ mutation.alt }}]
          {%- if pos > -7 -%}
            {{ site.sequence[7 - pos:] | join('') }}
          {% endif %}
        </a>
      </td>
      <td>
        {{ pos | abs }}
      </td>
      <td>
        <div class="badge {{ mutation.impact }}">
          {{ mutation.impact }}
        </div>
      </td>
    </tr>
  {% endfor %}
</table>
