{{ site.start + 7 }}
<ul>
{% for type in site.type %}
  <li>{{ type }}</li>
{% endfor %}
</ul>
Sources: {{ site.sources | join(', ') }}
{% if site.associations %}
  Associations:
  <ul>
  {% for association in site.associations %}
    <li>{{ association.site_type }} change associated with {{ association.event }}:</li>
    <ul>
      <li>{{ association.effect_size_type }}: {{ association.effect_size }}</li>
      <li>adjusted p-value: {{ association.adjusted_p_value }}</li>
    </ul>
  {% endfor %}
  </ul>
{% endif %}
