{{ site.start + 7 }} {{ site.residue }}
<ul>
{% for type in site.type %}
  <li>{{ type }}</li>
{% endfor %}
</ul>
Sources: {{ site.sources | join(', ') }}
{% if site.pmid | length %}
  <br>PubMed:
    <ul>
    {% for pmid in site.pmid %}
      <li><a href="https://pubmed.ncbi.nlm.nih.gov/{{ pmid }}" target="_blank" rel="noreferrer noopener">{{ pmid }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if site.associations | length %}
  <br>Associations:
  <ul>
  {% for association in site.associations %}
    <li>{{ association.site_type }} change associated with {{ association.event }}:</li>
    <ul>
      <li>{{ association.effect_size_type }}: {{ association.effect_size }}</li>
      <li>adjusted p-value: {{ association.adjusted_p_value }}</li>
    </ul>
  {% endfor %}
  </ul>
{% endif %}
