{% macro make_filter_box(filters) %}
  <form method="get" class="filters">
    {% if filters.active %}
        <h5>Active</h5>
        <ul class="active">
            {% for filter in filters.active %}
               {{ make_filter(filter) }}
            {% endfor %}
        </ul>
    {% endif %}
    {% if filters.available %}
        <h5>Available</h5>
        <ul class="available">
            {% for filter in filters.available %}
               {{ make_filter(filter) }}
            {% endfor %}
        </ul>
    {% endif %}
    <input type="hidden" name="fallback" value="True">
    <button class="btn btn-primary save" type="submit">Save</button>
  </form>
{% endmacro %}

{% macro make_filter(filter) %}
    <li class="filter">
        <label class="name" for="filter[{{ filter.property }}]">
            {{ filter.name }}
        </label>
        <div class="value">
        {% if filter.type == 'binary' %}
            <select name="filter[{{ filter.property }}]" id="filter[{{ filter.property }}]" class="form-control">
                <option value="None">disabled</option>
                <option value="True" {{ 'selected' if filter.value == True }}>only</option>
                <option value="False" {{ 'selected' if filter.value == False }}>without</option>
            </select>
        {% else %}
            Unknown filter type: '{{ filter.type }}'
        {% endif %}
        </div>
    </li>
{% endmacro %}

<div class="panel panel-default filters-panel">
  <div class="panel-body">
    <div class="panel-heading">
      <h3 class="panel-title">Filters</h3>
    </div>
    {{ make_filter_box(filters) }}
  </div>
</div>
