<ul class="list-unstyled">
    {% if widget.nullable %}
        <li class="radio">
            <label {{ 'checked' if widget.value == None }}">
            <input type="radio" name="{{ widget.target_name }}" value="None" {{ 'checked' if widget.value == None }}>
            {{ widget.disabled_label }}
            </label>
        </li>
    {% endif %}
    {% for value, label in widget.items %}
        <li class="radio">
            <label {{ 'checked' if widget.value == value }}">
            <input type="radio" name="{{ widget.target_name }}" value="{{ value | safe }}" {{ 'checked' if widget.value == value }}>
            {{ label }}
            </label>
        </li>
    {% endfor %}
</ul>
