<select
        name="{{ widget.target_name }}"
        id="{{ widget.target_name }}"
        class="form-control multiselect"
        multiple="multiple"
        data-all-selected-text="{{ widget.all_selected_label }}"
        {{ 'required' if not widget.nullable }}
>
    {% if widget.nullable %}
        <option value="None" {{ 'selected' if widget.value == None }}>{{ widget.disabled_label }}</option>
    {% endif %}
    {% for value, label in widget.items %}
        <option value="{{ value }}" {{ 'selected' if widget.value and  value in widget.value }}>{{ label }}</option>
    {% endfor %}
</select>
