{% macro represent_dict(dict, class='mappings') -%}
    <div class="{{ class }}">
    {% for key, value in dict.items() %}
        {{ key }}: {{ value }}<br>
    {% endfor %}
    </div>
{%- endmacro %}

{% set source = filters.active.sources %}

<div id="toolbar"></div>

<table
    id="{{ table_id or '' }}"
    class="table"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-search="true"
    data-show-columns="true"
    data-minimum-count-columns="2"
    data-show-export="true"
    data-detail-view="true"
>
    <thead>
        <tr>
            <th data-sortable=true>Position</th>
            <th data-sortable=true>Reference</th>
            <th data-sortable=true>Mutated</th>
            <th data-sortable=true
                data-visible={{ (source not in ('1KGenomes', 'ESP6500')) | string | lower }}
                data-switchable=true>{{ value_type }}</th>
            <th data-sortable=true
                data-switchable=true>Mutation type</th>
            <th data-sortable=true
                data-visible={{ filters.active.is_ptm | lower }}>Impact on PTM</th>
            <th data-sortable=true
                data-visible={{ filters.active.is_ptm | lower }}># PTMs affected</th>
            <th data-sortable=true
                data-visible=false>Closest affected site(s)</th>
            {% if mutations %}
            {% for metadata_colum in mutations[0].meta[source].keys() %}
                <th data-sortable=true
                    data-switchable=true>{{ metadata_colum }}</th>
            {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
		{% for mutation in mutations or '' %}
        {% set metadata = mutation.meta[source] %}
        <tr id="{{ mutation.coord }}{{ mutation.alt }}">
            <td>{{ mutation.coord }}</td>
            <td>{{ mutation.ref }}</td>
            <td>{{ mutation.alt }}</td>
            <td>{{ mutation.value }}</td>
            <td>{{ 'non-PTM' if mutation.category == 'none' else 'PTM' }}</td>
            <td class="{{ mutation.category or '' }}">{{ mutation.category or '' }}</td>
            <td>{{ mutation.cnt_ptm }}</td>
            <td>
                {% for site in mutation.sites %}
                    {{ represent_dict(site, class='sub-cell') }}
                {% endfor %}
            </td>
            {% for column in metadata.values() %}
                <td>
                    {% if column is sequence and column is not string %}
                        {% for entry in column %}
                            {{ represent_dict(entry, class='sub-cell') }}
                        {% endfor %}
                    {% else %}
                        {{ column }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
		{% endfor %}
    </tbody>
</table>
