<table data-toggle="table" class="table">
    <thead>
        <tr>
            <th data-sortable=True>Position</th>
            <th data-sortable=True>Reference</th>
            <th data-sortable=True>Mutated</th>
            <th data-sortable=True># observed in data</th>
            <th data-sortable=True>Mutation type</th>
            <th data-sortable=True>Impact on PTM</th>
            <th data-sortable=True># PTMs affected</th>
        </tr>
    </thead>
    <tbody>
		{% for mutation, count in mutations_with_cnt or '' %}
        <tr>
            <td>{{ mutation.position }}</td>
            <td>{{ mutation.wt_residue }}</td>
            <td>{{ mutation.mut_residue }}</td>
            <td>{{ count }}</td>
            <td>{{ 'PTM' if mutation.is_ptm else 'non-PTM' }}</td>
            <td>{{ mutation.impact_on_ptm or '' }}</td>
            <td>{{ mutation.cnt_ptm_affected }}</td>
        </tr>
		{% endfor %}
    </tbody>
</table>
