{% macro widget_list(filters, title, class, collapse=False) %}
  {% set filters = filters | selectattr('visible') | list %}

  {% if filters %}
    {% if title %}
      <h5>{{ title }}</h5>
    {% endif %}
    <div class="{{ class }}">
      {% for filter in filters %}
        {% set are_many = filter | attr('data') | list | length > 4 %}
        <div class="{{ 'list-collapsed' if are_many }}">
          {{ render_widget(filter) }}
          {% if are_many %}
            <a href="#" class="list-expand">more</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endmacro %}

{% macro render_widget(widget) %}
    {% from "help.html" import help with context %}
    {% if widget.visible %}
    {% if widget.comparator_widget %}
        {{ render_widget(widget.comparator_widget) }}
    {% endif %}
    <div class="widget {{ widget.class_name }} {{ widget.template }}">
        <label class="name" for="{{ widget.target_name }}">
            {{ widget.title }}
            {{ help('widget-' + widget.target_name, 'help-widget small-top') }}
        </label>
        <div class="value">
            {% include 'widgets/' + widget.template + '.html' %}
        </div>
    </div>
    {% endif %}
{% endmacro %}
