{% extends "base.html" %}
{% from "text_entry.html" import text with context %}

{% block title %} Proteins - {{ super() }} {% endblock %}

{% block head %}

  {{ super() }}

  {{ dependency('bootstrap_table') }}
  {{ dependency('bootstrap_table_css') }}

  {# Nunjucks templates #}
  {% if is_debug_mode %}
    {{ dependency('nunjucks') }}
  {% else %}
    {{ dependency('nunjucks_slim') }}
    <script type="text/javascript" src="/static/js_templates/precompiled/pathway.js"></script>
  {% endif %}

{% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('GeneView:lists') }}">Gene lists</a></li>
  <li class="active">Proteins</li>
{% endblock %}


{% block content %}

<h3>Proteins</h3>

{{ text('proteins-all') }}

<div>
  <div id="toolbar">
    {# put here some filters #}
  </div>
  <table
    id="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-show-export="true"
    data-detail-view="true"
    {# data-detail-formatter="detailFormatter" #}
    data-minimum-count-columns="2"
    data-pagination="true"
    data-id-field="id"
    data-page-size="25"
    data-page-list="[10, 25, 50, 100, ALL]"
    data-side-pagination="server"
    data-url="{{ url_for('ProteinView:browse_data') }}"
  >
  </table>
</div>

<script>

  nunjucks.configure('/static/js_templates', {autoescape: true})

  var $table = $('#table')

  function initTable()
  {
    $table.bootstrapTable({
      columns: [
        {
          title: 'Gene name',
          field: 'gene_name',
          align: 'center',
          valign: 'middle',
          sortable: true,
          formatter: geneFormatter
        },
        {
          title: 'Protein refseq',
          field: 'refseq',
          align: 'center',
          valign: 'middle',
          sortable: true,
          formatter: proteinFormatter
        },
        {
          title: '# mutations',
          sortable: true,
          valign: 'middle',
          align: 'center',
          field: 'muts_count',
        },
        {
          title: '# PTM mutations',
          valign: 'middle',
          align: 'center',
          field: 'ptm_muts'
        },
        {
          title: '# PTM sites',
          sortable: true,
          valign: 'middle',
          align: 'center',
          field: 'sites_count'
        }
      ],
      formatLoadingMessage: function ()
      {
        return 'Loading, please wait... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>'
      },
    })
    $table.on('click-row.bs.table', function (e, row, $element)
    {
      $table.bootstrapTable(
        'expandRow',
        $element.data('index')
      )
    })
    setTimeout(function ()
    {
        $table.bootstrapTable('resetView')
    }, 200)
  }

  function detailFormatter(index, row)
  {
    // TODO
    return 'TBD'
    /*
    return nunjucks.render(
        'pathway_details.njk',
        {
            pathway: row
        }
    )
    */
  }

  function geneFormatter(value, row, index)
  {
    return '<a href="/gene/show/' + value + '">' + value + '</a>'
  }

  function proteinFormatter(value, row, index)
  {
    return '<a href="/protein/show/' + value + '">' + value + '</a>'
  }

  $(function ()
  {
      initTable()
  })
</script>


{% endblock %}
