{% set references = protein.external_references %}


<div class="panel panel-default external-references panel-with-btn">
  <div class="panel-heading">
    <div class="heading-left">
      <h3 class="panel-title">External references</h3>
    </div>
    <div class="heading-right">
      <div class="source-acknowledgement">
        Identifiers mappings were retrieved from Ensembl with biomart API.
      </div>
    </div>
  </div>
  <div class="panel-body">

    <dl class="refseq">
      <dt>RefSeq (mRNA)</dt>
      <dd>
        <a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ protein.refseq }}">{{ protein.refseq }}</a>
      </dd>
      {% if references.refseq_np %}
        <dt>RefSeq (protein)</dt>
        <dd>
          <a href="https://www.ncbi.nlm.nih.gov/protein/{{ references.refseq_np }}">{{ references.refseq_np }}</a>
        </dd>
      {% endif %}
    </dl>

    {% if references.uniprot_accession %}
      <dl class="uniprot">
        <dt>Uniprot</dt>
        <dd>
          <ul class="list-inline">
            <li><a href="http://www.uniprot.org/uniprot/{{ references.uniprot_accession }}">{{ references.uniprot_accession }}</a>
            <li><a href="http://www.phosphosite.org/uniprotAccAction?id={{ references.uniprot_accession }}">Phosposite</a>
            <li><a href="http://pfam.xfam.org/protein?acc={{ references.uniprot_accession }}">PFAM</a>
            <li><a href="http://string-db.org/newstring_cgi/show_network_section.pl?identifier={{ references.uniprot_accession }}">STRING</a>
            <li><a href="http://www.phospho3d.org/search.py?flag=3&query_string={{ references.uniprot_accession }}&redundancy=all">phospho3d</a>
            <li><a href="http://www.reactome.org/content/query?cluster=true&q={{ references.uniprot_accession }}">Reactome</a>
            <li><a href="http://www.rcsb.org/pdb/protein/{{references.uniprot_accession}}">PDB</a>
          </ul>
        </dd>
      </dl>
      {% endif %}

      {% if references.ensembl_peptides %}
      <dl>
        <dt>Ensembl protein</dt>
        <dd>
          <ul class="list-inline">
            {% for ensembl_peptide in references.ensembl_peptides %}
              <li><a href="http://www.ensembl.org/Homo_sapiens/Transcript/ProteinSummary?p={{ ensembl_peptide.peptide_id }}">{{ ensembl_peptide.peptide_id }}</a>
            {% endfor %}
          </ul>
        </dd>
      </dl>
      {% endif %}

  </div>
</div>