{% set references = protein.external_references %}
{% set target = 'target="_blank" rel="noreferrer noopener"' | safe %}
{% from "help.html" import help with context %}
{% from "utils.html" import uniprot_link %}

<div class="panel panel-default external-references panel-with-btn">
  <div class="panel-heading">
    <div class="heading-left">
      <h3 class="panel-title">
        External references
        {{ help('external-references') }}
      </h3>
    </div>
    <div class="heading-right">
      <div class="source-acknowledgement">
        Mappings retrieved from NCBI & UniProt.
      </div>
    </div>
  </div>
  <div class="panel-body">

    <dl class="refseq">
        <dt>
          RefSeq
          {{ help('external-reference-refseq', 'small-top') }}
        </dt>
        <dd>
          <ul class="list-inline">
            <li><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ protein.refseq }}" {{ target }}>mRNA: {{ protein.refseq }}</a>
            {% if references.refseq_np %}
            <li><a href="https://www.ncbi.nlm.nih.gov/protein/{{ references.refseq_np }}" {{ target }}>protein: {{ references.refseq_np }}</a>
            {% endif %}
            {% if references.refseq_ng %}
            <li><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ references.refseq_ng }}" {{ target }}>gene: {{ references.refseq_ng }}</a>
            {% endif %}
          </ul>
        </dd>
    </dl>

    {% if protein.gene.entrez_id %}
    <dl>
        <dt>Entrez</dt>
        <dd>
          <a href="https://www.ncbi.nlm.nih.gov/gene/{{ protein.gene.entrez_id }}" {{ target }}>gene: {{ protein.gene.entrez_id }}</a>
        </dd>
    </dl>
    {% endif %}

    {% if references.uniprot_entries %}
      <dl class="uniprot">
        <dt>
          UniProt
          {{ help('external-reference-uniprot', 'small-top') }}
        </dt>
        <dd>
          <div class="table">
          {% for uniprot in references.uniprot_entries | sort(attribute='reviewed', reverse=True) %}
            <ul class="list-inline">
              <li> {{ uniprot_link(uniprot, target) }}
              <li><a href="http://www.phosphosite.org/uniprotAccAction?id={{ uniprot.accession }}" {{ target }}>PhosphoSitePlus</a>
              <li><a href="http://pfam.xfam.org/protein?acc={{ uniprot.accession }}" {{ target }}>PFAM</a>
              <li><a href="http://string-db.org/newstring_cgi/show_network_section.pl?identifier={{ uniprot.accession }}" {{ target }}>STRING</a>
              <li><a href="http://www.phospho3d.org/search.py?flag=3&query_string={{ uniprot.accession }}&redundancy=all" {{ target }}>phospho3d</a>
              <li><a href="http://www.reactome.org/content/query?cluster=true&q={{ uniprot.accession }}" {{ target }}>Reactome</a>
              <li><a href="http://www.rcsb.org/pdb/protein/{{uniprot.accession}}" {{ target }}>PDB</a>
            </ul>

          {% endfor %}
          </div>
        </dd>
      </dl>
    {% endif %}

    {% if references.ensembl_peptides %}
      <dl>
        <dt>Ensembl</dt>
        <dd>
          <ul class="list-inline">
            {% for ensembl_peptide in references.ensembl_peptides %}
              <li><a href="http://www.ensembl.org/Homo_sapiens/Transcript/ProteinSummary?p={{ ensembl_peptide.peptide_id }}" {{ target }}>{{ ensembl_peptide.peptide_id }}</a>
            {% endfor %}
          </ul>
        </dd>
      </dl>
    {% endif %}

  </div>
</div>
