{% extends "base.html" %}

{% block title %} {{ protein.gene.name }} - {{ protein.refseq }} - protein view - {{ super() }} {% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_protein" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}


  {# D3.js #}
  {# <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> #}
  <script src="/static/thirdparty/d3.v3.min.js" charset="utf-8"></script>

  {# jQuery #}
  <script src="/static/thirdparty/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {# Bootstrap-Table #}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

  {# Export extension for jQuery and Bootstrap-Table #}
  <script src="/static/thirdparty/bootstrap-table/tableExport.js"></script>
  <script src="/static/thirdparty/bootstrap-table/bootstrap-table-export.js"></script>

  {# Bootstrap multiselect #}
  <script type="text/javascript" src="/static/thirdparty/bootstrap-multiselect/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="/static/thirdparty/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css"/>

  {# Nunjucks templates #}
  {% if is_debug_mode %}
    <script type="text/javascript" src="/static/thirdparty/nunjucks.js"></script>
  {% else %}
    <script type="text/javascript" src="/static/thirdparty/nunjucks-slim.min.js"></script>
    <script type="text/javascript" src="/static/js_templates/precompiled/protein.js"></script>
  {% endif %}
{% endblock %}


{% block content %}

<h3>{{ protein.gene.name }} - {{ protein.refseq }}</h3>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{{ url_for('ProteinView:index') }}">Proteins</a></li>
  <li><a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}">{{ protein.gene.name }}</a></li>
  <li class="active">{{ protein.refseq }}</li>
</ol>

<form method="get" id="widget-form">
    {% with filter_widgets=filter_widgets %}
        {% include 'forms/filters.html' %}
    {% endwith %}

    <input type="hidden" name="fallback" value="True">
</form>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group" role="group">
          <a href="{{ url_for('NetworkView:show', refseq=protein.refseq, filters=filters.url_string) }}" role="button" class="btn btn-default" title="Show network">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              Show interaction network view
          </a>
        </div>
        {% include 'export_buttons.html' %}
    </div>
  <div class="panel-body">
    <div id="plot_area"></div>
    <div id="tracks-box">
      {% with tracks=tracks %}
        {% include 'protein/tracks.html' %}
      {% endwith %}
    </div>
  </div>
</div>

Your are viewing {{ 'preferred' if protein.is_preferred_isoform else 'an alternative' }} isoform of {{ protein.gene.name }} protein.
{% set other_isoforms_count = protein.gene.isoforms | length - 1 %}
{% if other_isoforms_count > 0 %}
    There {{ 'is' if other_isoforms_count == 1 else 'are' }} <a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}">{{ other_isoforms_count }} isoform{{ 's' if other_isoforms_count > 1}} more</a> for this protein in the database.
{% endif %}

{% set disorder_percent = protein.disorder_length / protein.length * 100 %}
<div class="progress" title="{{ disorder_percent }}">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ disorder_percent }}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{ disorder_percent }}%">
    {{ disorder_percent | round(2) }}% of sequence is predicted to be disordered
  </div>
</div>

External references:
<ul>
    <li>RefSeq: <a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ protein.refseq }}">{{ protein.refseq }}</a>
</ul>

{% with mutations=mutations, table_id='table' %}
  {% include 'protein/mutation_table.html' %}
{% endwith %}

{% endblock %}


{% block footer_js %}
    {% assets "js_protein_view" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        nunjucks.configure('/static/js_templates', {autoescape: true})
        var tracks = Tracks()
        tracks.init({
            box: document.getElementById('tracks-box')
        })
        var max_zoom = tracks.adjustMaxZoom()
        var mutations = {{ mutations | json | safe }}
        var sites = {{ sites | json | safe }}
        {# An alternative form of getting data, not fully functional nor fast
          var mutations = "{{ url_for('ProteinView:mutations', refseq=protein.refseq, filters=filters.url_string) }}"
          var sites = "{{ url_for('ProteinView:sites', refseq=protein.refseq, filters=filters.url_string) }}"
        #}
        var plot = document.getElementById('plot_area')
        var params = {
            use_log: {{ log_scale | lower }},
            value_type: '{{ value_type }}',
            max_zoom: max_zoom,
            element: plot,
            data: {
              mutations: mutations,
              sites: sites
            },
            sequenceLength: {{ protein.sequence | length }},
            name: '{{ protein.gene.name }}',
            legends:
            {
              x: null,
              y: '{{ value_type }} of mutations in {{ protein.gene.name }} {{ protein.refseq }}'
            },
            zoom_callback: tracks.setZoom,
            position_callback: tracks.setAAPosition,
            width: $('#tracks-box').width()
        }
        var mutation_table = MutationTable()
        mutation_table.init($('#table'), mutations)
        var needle_plot = NeedlePlot()
        needle_plot.init(params)
        tracks.setNeedlePlotInstance(needle_plot)
        $(window).on('resize', function()
            {
                needle_plot.setSize(
                    $('#tracks-box').width(),
                    null,
                    tracks.adjustMaxZoom()
                )
            }
        )

        {% assets "css_protein" %}
        Export.init(
            plot,
            'protein_view:{{ protein.gene.name }}-{{ protein.refseq }}',
            '{{ ASSET_URL }}'
        )
        {% endassets %}
    </script>
    {{ super() }}
{% endblock %}
