{% macro represent_dict(dict, class='mappings') -%}
    <div class="{{ class }}">
    {% for key, value in dict.items() %}
        {{ key }}: {{ value }}<br>
    {% endfor %}
    </div>
{%- endmacro %}

{% set source = filters.get_value('Mutation.sources') %}

<div id="toolbar"></div>

<table
    id="{{ table_id or '' }}"
    class="table"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-search="true"
    data-show-columns="true"
    data-minimum-count-columns="2"
    data-show-export="true"
    data-detail-view="true"
>
    <thead>
        <tr>
            <th data-sortable=true
                title="Position of mutation in protein">Pos</th>
            <th data-sortable=true
                title="Reference amino acid residue in protein">Ref</th>
            <th data-sortable=true
            title="Mutated amino acid residue in protein">Mut</th>
            <th data-sortable=true
                data-visible={{ (source not in ('1KGenomes', 'ESP6500')) | string | lower }}
                data-switchable=true>{{ value_type }}</th>
            <th data-sortable=true
                title="Impact on closest PTM site">PTM impact</th>
            <th data-sortable=true
                title="Number of adjacent PTMs affected">PTMs affected</th>
            <th data-sortable=true
                data-visible=false>Closest affected site(s)</th>
            <th data-sortable=true
                data-visible=true>Kinases</th>
            {% if mutations %}
            {% for metadata_colum in mutations[0].meta[source].keys() %}
                <th data-sortable=true
                    data-switchable=true
                    data-visible=false>{{ metadata_colum }}</th>
            {% endfor %}
            <th data-sortable=true
                data-switchable=true
                title="Mutation summary (click on + for more info)">Summary:
                {% if source in ('1KGenomes', 'ESP6500') %}
                    MAF
                {% elif source == 'TCGA' %}
                    cancer types
                {% elif source == 'ClinVar' %}
                    disease annotations
                {% endif %}
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
		{% for mutation in mutations or '' %}
        {% set metadata = mutation.meta[source] %}
        <tr id="{{ mutation.coord }}{{ mutation.alt }}"
            data-metadata="/*{{ mutation.meta | json | replace('"', "'") | safe }}*/">
            <td>{{ mutation.coord }}</td>
            <td>{{ mutation.ref }}</td>
            <td>{{ mutation.alt }}</td>
            <td>{{ mutation.value }}</td>
            <td class="{{ mutation.category or '' }}">
                {{ mutation.category or '' }}
                {% if mutation.category == 'network-rewiring' %}
                    - motif {{ mutation.meta['MIMP'].effect }}
                {% endif %}
            </td>
            <td>{{ mutation.cnt_ptm }}</td>
            <td>
                {% for site in mutation.sites %}
                    {{ represent_dict(site, class='sub-cell') }}
                {% endfor %}
            </td>
            <td>
                {% set comma = joiner(',') %}
                {% for group in mutation.kinase_groups %}
                    {{ comma() }} {{ group }} group
                {%- endfor %}
                {%- for kinase in mutation.kinases -%}
                    {{ comma() }}
                    {% if kinase.protein -%}
                        <a href="{{ url_for('ProteinView:show', refseq=kinase.protein.refseq) }}">{{ kinase.name }}</a>
                    {%- else -%}
                        {{ kinase.name }}
                    {%- endif -%}
                {%- endfor -%}
            </td>
            {% for column in metadata.values() %}
                <td>
                    {% if column is sequence and column is not string %}
                        {% for entry in column %}
                            {{ represent_dict(entry, class='sub-cell') }}
                        {% endfor %}
                    {% else %}
                        {{ column }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                {% if mutation.summary is sequence and mutation.summary is not string %}
                    {{ mutation.summary | join(', ') }}
                {% else %}
                    {{ mutation.summary }}
                {% endif %}
            </td>
        </tr>
		{% endfor %}
    </tbody>
</table>
