{% macro represent_dict(dict, class='mappings') -%}
    <div class="{{ class }}">
    {% for key, value in dict.items() %}
        {{ key }}: {{ value }}<br>
    {% endfor %}
    </div>
{%- endmacro %}

{% set source = filters.get_value('Mutation.sources') %}

<div id="toolbar"></div>

<table
    id="{{ table_id or 'table' }}"
    class="table"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-search="true"
    data-show-columns="true"
    data-minimum-count-columns="2"
    data-show-export="true"
    data-detail-view="true"
    data-sort-name="pos"
    data-pagination="true"
    data-page-list="[10, 25, 50, 100, ALL]"
    data-page-size="25"
>
    <thead>
        <tr>
            <th
              data-sortable=true
            >Mutation</th>
            <th data-field="pos"
                data-sortable=true
                title="Position of mutation in protein">Position</th>
            <th data-sortable=true
                title="Reference amino acid residue in protein">Ref aa</th>
            <th data-sortable=true
            title="Mutated amino acid residue in protein">Alt aa</th>
            <th data-sortable=true
                data-visible={{ (source not in ('1KGenomes', 'ESP6500')) | string | lower }}
                data-switchable=true>{{ value_type }}</th>
            <th data-sortable=true
                title="Impact on closest PTM site">PTM impact</th>
            <th data-sortable=true
                title="Number of adjacent PTMs affected">PTMs affected</th>
            <th data-sortable=true
                data-visible=false>Affected site(s)</th>
            <th data-sortable=true
                data-visible=true>Kinases</th>
            {% if mutations %}
            {% for metadata_colum in mutations[0].meta[source].keys() %}
                <th data-sortable=true
                    data-switchable=true
                    data-visible=false>{{ metadata_colum }}</th>
            {% endfor %}
            <th data-sortable=true
                data-switchable=true
                title="Mutation summary (click on + for more info)">Summary:
                {% if source in ('1KGenomes', 'ESP6500') %}
                    MAF
                {% elif source == 'TCGA' %}
                    cancer types
                {% elif source == 'ClinVar' %}
                    disease annotations
                {% endif %}
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
		{% for mutation in mutations or '' %}
        {% set metadata = mutation.meta[source] %}
        <tr id="{{ mutation.pos }}{{ mutation.alt }}">
            <td>
              <a href="{{ url_for('MutationView:show', refseq=protein.refseq, position=mutation.pos, alt=mutation.alt) }}">
                {{ protein.gene.name }} {{ mutation.ref }}{{ mutation.pos }}{{ mutation.alt }}
              </a>
            </td>
            <td>{{ mutation.pos }}</td>
            <td>{{ mutation.ref }}</td>
            <td>{{ mutation.alt }}</td>
            <td>{{ mutation.value }}</td>
            <td class="{{ mutation.category or '' }}">
                {{ mutation.category or '' }}
                {% if mutation.category == 'network-rewiring' %}
                    - motif {{ mutation.meta['MIMP'].effect }}
                {% endif %}
            </td>
            <td>{{ mutation.cnt_ptm }}</td>
            <td>
                {% for site in mutation.sites %}
                  {{ site.position }}{{ site.residue }}
                {% endfor %}
            </td>
            <td>
              {% include 'mutation/kinases.html' %}
            </td>
            {% for column in metadata.values() %}
                <td>
                    {% if column is sequence and column is not string %}
                        {% for entry in column %}
                            {{ represent_dict(entry, class='sub-cell') }}
                        {% endfor %}
                    {% else %}
                        {{ column }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>
              {% set summary = mutation.summary %}
                {% if summary is sequence and summary is not string %}
                    {{ summary | join(', ') }}
                {% else %}
                    {{ summary }}
                {% endif %}
            </td>
        </tr>
		{% endfor %}
    </tbody>
</table>
