{% extends 'base.html' %}

{% block title %} {{ protein.gene.name }} - {{ protein.refseq }} - protein view - {{ super() }} {% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_protein" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {{ dependency('d3.js') }}
  {{ dependency('md5') }}

  {{ dependency('bootstrap_table') }}
  {{ dependency('bootstrap_table_css') }}

  {{ dependency('table_export') }}
  {{ dependency('bootstrap_table_export') }}

  {# Nunjucks templates #}
  {% if is_debug_mode %}
    {{ dependency('nunjucks') }}
  {% else %}
    {{ dependency('nunjucks_slim') }}
    <script type="text/javascript" src="/static/js_templates/precompiled/protein.js"></script>
  {% endif %}

  {{ dependency('clipboard.js') }}

{% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('ProteinView:index') }}">Proteins</a></li>
  <li><a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}">{{ protein.gene.name }}</a></li>
  <li class="active">{{ protein.refseq }}</li>
{% endblock %}


{% block content %}

  <h3>{{ protein.gene.name }} - {{ protein.refseq }}</h3>

  <div class="isoform-page-options">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#">
          <span class="glyphicon glyphicon-indent-left" aria-hidden="true" style="transform:rotate(-90deg)"></span>
          Sequence View
        </a>
      <li role="presentation">
        <a
          href="{{ url_for('NetworkView:show', refseq=protein.refseq, filters=filters.url_string()) }}"
          class="variable-url"
          data-url-pattern="{{ url_for('NetworkView:show', refseq=protein.refseq, filters='{{ filters }}') | safe }}"
        >
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          Network view
        </a>
    </ul>
    <div class="actions">
      {% include 'buttons/short_url.html' %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">

      {# Legend #}
      <div class="panel panel-default color-legend">
        <div class="panel-heading">
          <h3 class="panel-title">Legend</h3>
        </div>
        <div class="panel-body">
          <div class="legend">
            <h4>Mutation impacts</h4>
            {% for type in mutation_types %}
              <div class="swatch">
                <div class="impact {{ type }}">
                  <div class="color"></div>
                </div>
                <div class="name">{{ type }}</div>
              </div>
            {% endfor %}
          </div>
          <div class="legend">
            <h4>Sites</h4>
            {% for type in site_types %}
              <div class="swatch">
                <div class="site {{ type }}">
                  <div class="color"></div>
                </div>
                <div class="name">{{ type }}</div>
              </div>
            {% endfor %}
          </div>
          <div class="legend">
            <h4>Others</h4>
            <div class="swatch">
              <div class="site-position"></div>
              <div class="name">Exact position of a PTM site</div>
            </div>
          </div>
        </div>
      </div>

      <div id="sticky_box">

        {# Filters #}
        <form method="GET" class="widget-form" id="filters_form">
          {% include 'filters/box.html' %}
          <input type="hidden" name="fallback" value="True">
        </form>

        {# Contact us #}
        {% with feature='protein', title=protein.gene.name + ' - ' + protein.refseq %}
          {% include "contact_box.html" %}
        {% endwith %}

      </div>

    </div>
    <div class="col-md-9">
      {# Summary #}
      <div class="panel panel-default panel-with-btn protein-summary">
        <div class="panel-heading">
          <div class="heading-left">
            <h3 class="panel-title">Protein summary</h3>
          </div>
          <div class="heading-right">
            This is {{ 'preferred' if protein.is_preferred_isoform else 'an alternative' }} isoform of {{ protein.gene.name }} protein.
            {% set other_isoforms_count = protein.gene.isoforms | length - 1 %}
            {% if other_isoforms_count > 0 %}
              <a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}" class="btn btn-default">View all {{ protein.gene.isoforms | length }} isoforms</a>
            {% endif %}
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">

              <div class="gene-wide-data">
                <dl class="dl-horizontal">
                  <div class="strand">
                    <dt>Strand</dt>
                    <dd>{{ '+' if protein.gene.strand else '-' }}</dd>
                  </div>
                  <div>
                    <dt>Chromosome</dt>
                    <dd>{{ protein.gene.chrom }}</dd>
                  </div>
                </dl>
              </div>

              <dl class="dl-horizontal">
                <dt>Protein</dt>
                <dd>{{ protein.length }} residues</dd>
                <dt>All mutations</dt>
                <dd>{{ protein.confirmed_mutations_count }}</dd>
              </dl>

            </div>
            <div class="col-md-6">

              <dl class="dl-horizontal">
                <dt>PTM sites</dt>
                <dd>{{ protein.sites | length }}</dd>
                {% if protein.cds_start and protein.cds_end %}
                  <dt>CDS</dt>
                  <dd>{{ '{:,}'.format(protein.cds_start) }} - {{ '{:,}'.format(protein.cds_end) }}</dd>
                {% endif %}
                {% if protein.tx_start and protein.tx_end %}
                  <dt>Transcription</dt>
                  <dd>{{ '{:,}'.format(protein.tx_start) }} - {{ '{:,}'.format(protein.tx_end) }}</dd>
                {% endif %}
              </dl>

            </div>
          </div>
          {% include "protein/disorder_bar.html" %}
        </div>
      </div>


      {# Plot #}
      <div class="panel panel-default panel-needleplot panel-with-btn visualisation">
        <div class="panel-heading">
          <div class="heading-left">
            <h3 class="panel-title">Mutations Visualisation</h3>
          </div>
          <div class="heading-right">
            {% include 'buttons/export.html' %}
          </div>
        </div>
        <div class="panel-body">
          <div id="protein_spinner" class="visualisation_spinner">
            <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
          </div>
          <div id="plot_area"></div>
        </div>
      </div>

      {# tracks #}
      <div class="panel panel-default panel-tracks">
        <div class="panel-body">
          <div id="tracks-box">
            {#  To be loaded with JS #}
            {#
            {% with tracks=tracks %}
              {% include 'protein/tracks.html' %}
            {% endwith %}
            #}
          </div>
        </div>
      </div>

      {# table #}
      <div id="table-wrapper">
        {# The table will be filled with HTML over AJAX request for mutations details #}
      </div>

      {# references #}
      {% include 'protein/external_references.html' %}

    </div>
  </div>

{% endblock %}


{% block footer_js %}
  {% assets "js_protein_view" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript">

    nunjucks.configure('/static/js_templates', {autoescape: true});

    affix($('#sticky_box'), $('footer'));

    short_url = ShortURL();
    short_url.init(
      "{{ url_for('ShortAddress:get_shorthand_for') }}",
      "{{ url_for('ShortAddress:visit_shorthand', shorthand='<shorthand>', _external=True) }}"
    );

    var tracks = Tracks();

    var tracks_box = $('#tracks-box');
    var needle_plot = null;
    var plot = document.getElementById('plot_area');
    var spinner = $('#protein_spinner');

    function init_plot(variable_config)
    {
        var needle_plot = NeedlePlot();

        var params = {
            element: plot,
            sequenceLength: {{ protein.sequence | length }},
            name: '{{ protein.gene.name }}',
            zoom_callback: tracks.setZoom,
            position_callback: tracks.setAAPosition,
            zoomAndMove_callback: tracks.setZoomAndMove,
            width: tracks_box.width(),
            site_tooltip: function(d){
                return (d.start + 7) + ' ' + d.type
            },
            mutations_color_map: {
                'distal': 'yellow',
                'network-rewiring': 'red',
                'direct': 'darkred',
                'proximal': 'orange',
                'none': 'darkgray'
            },
            onload: function(){ spinner.hide() }
        };

        update_object(params, variable_config);

        needle_plot.init(params);
        return needle_plot;
    }

    $(window).on('resize', function()
        {
            if (tracks.isReady())
                tracks.refreshScaleFactor();
            if(needle_plot)
            {
                needle_plot.setSize(
                    tracks_box.width(),
                    null,
                    tracks.adjustMaxZoom()
                )
            }
        }
    );

    var mutation_table = MutationTable();

    var $table_wrapper = $('#table-wrapper');

    {% raw %}
    var export_title_pattern = 'protein_view:{{ gene }}-{{ refseq }}-{{ expanded_filters }}';
    {% endraw %}

    {% assets "css_protein" %}
        Export.init(
            plot,
            'protein_view:{{ protein.gene.name }}-{{ protein.refseq }}-{{ filters.url_string(expanded=True) }}',
            '{{ ASSET_URL }}'
        );
    {% endassets %}

    /**
     * Representation of ProteinView as defined in ProteinView:representation_data().
     * @typedef {RepresentationData} ProteinViewData
     * @property {html} mutation_table
     * @property {html} tracks
     * @property {Object} mutations
     * @property {Object} sites
     * @property {string} value_type
     * @property {boolean} log_scale
     */

    /**
     * Callback for AsyncFiltersHandler loading representation from server response.
     * @param {ProteinViewData} data
     * @param {FiltersData} filters_data
     */
    function load_data(data, filters_data)
    {
        short_url.reset();

        Export.update_title(
            format(
                export_title_pattern,
                {
                    gene: '{{ protein.gene.name }}',
                    refseq: '{{ protein.refseq }}',
                    expanded_filters: filters_data.expanded_query
                }
            )
        );

        $table_wrapper.html(data.mutation_table);
        var $table = $('#mutation_table');

        tracks_box.html(data.tracks);

        tracks.init({
            box: tracks_box.get(0)
        });

        var max_zoom = tracks.adjustMaxZoom();

        mutation_table.init($table, data.mutations);

        var variable_config = {
            needle_tooltip: function(mutation) {
                return nunjucks.render(
                    'needle_tooltip.njk',
                    {
                        mutation: mutation,
                        value_type: data.value_type
                    }
                )
            },
            legends: {
                x: null,
                y: data.value_type + ' of mutations in {{ protein.gene.name }} {{ protein.refseq }}'
            },
            use_log: data.log_scale,
            data: {
                mutations: data.mutations,
                sites: data.sites
            },
            max_zoom: max_zoom
        };

        needle_plot = init_plot(variable_config);

        tracks.setNeedlePlotInstance(needle_plot);
    }

    Widgets.init($('#filters_form'), function(){});

    var filters_handler = AsyncFiltersHandler();

    filters_handler.init({
        form: $('#filters_form'),
        data_handler: load_data,
        representation_url: "{{ url_for('ProteinView:representation_data', refseq=protein.refseq) }}",
        on_loading_start: function (){
            if (needle_plot)
                needle_plot.destroy();
            $table_wrapper.addClass('loading');
            spinner.show();
        },
        on_loading_end: function(){
            $table_wrapper.removeClass('loading');
            // spinner will be hidden after needle_plot initialization
            Widgets.init($('#filters_form'), function(){});
        },
        links_to_update: $('.variable-url')
    });

    // force on_update event to load initial representation
    filters_handler.on_update(true);

    var state_handlers = {
        filters: filters_handler
    };

    // handle change in history
    $(window).on('popstate', function(event) {
        var state = event.originalEvent.state;
        if(state)
        {
            var handler = state_handlers[state.handler];
            handler.apply(state.filters_query, true, true)
        }
        if(window.location.hash)
        {
            var mutation_id = window.location.hash.substring(1);
            mutation_table.showMutation(mutation_id)
        }
    });

  </script>
  {{ super() }}
{% endblock %}
