{% extends 'base.html' %}

{% block title %} {{ protein.gene.name }} - {{ protein.refseq }} - protein view - {{ super() }} {% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_protein" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}


  {# D3.js #}
  {# <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> #}
  <script src="/static/thirdparty/d3.v3.min.js" charset="utf-8"></script>

  {# MD5 hash generation #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.7.0/js/md5.min.js"></script>

  {# Bootstrap-Table #}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

  {# Export extension for jQuery and Bootstrap-Table #}
  <script src="/static/thirdparty/bootstrap-table/tableExport.js"></script>
  <script src="/static/thirdparty/bootstrap-table/bootstrap-table-export.js"></script>

  {# History API for old browsers: https://github.com/devote/HTML5-History-API #}
  <script src="/static/thirdparty/history.ielte7.min.js"></script>

  {# Bootstrap multiselect #}
  {#
  <script type="text/javascript" src="/static/thirdparty/bootstrap-multiselect/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="/static/thirdparty/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css"/>
  #}

  {# Nunjucks templates #}
  {% if is_debug_mode %}
    <script type="text/javascript" src="/static/thirdparty/nunjucks.js"></script>
  {% else %}
    <script type="text/javascript" src="/static/thirdparty/nunjucks-slim.min.js"></script>
    <script type="text/javascript" src="/static/js_templates/precompiled/protein.js"></script>
  {% endif %}

  {# Clipboard #}
  <script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.15/clipboard.min.js"></script>

{% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('ProteinView:index') }}">Proteins</a></li>
  <li><a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}">{{ protein.gene.name }}</a></li>
  <li class="active">{{ protein.refseq }}</li>
{% endblock %}


{% block content %}

  <h3>{{ protein.gene.name }} - {{ protein.refseq }}</h3>

  <div class="isoform-page-options">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#">
          <span class="glyphicon glyphicon-indent-left" aria-hidden="true" style="transform:rotate(-90deg)"></span>
          Sequence View
        </a>
      <li role="presentation">
        <a
          href="{{ url_for('NetworkView:show', refseq=protein.refseq, filters=filters.url_string()) }}"
          class="variable-url"
          data-url-pattern="{{ url_for('NetworkView:show', refseq=protein.refseq, filters='<filters>') | safe }}"
        >
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          Network view
        </a>
    </ul>
    <div class="actions">
      {% include 'buttons/short_url.html' %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">

      {# Legend #}
      <div class="panel panel-default color-legend">
        <div class="panel-heading">
          <h3 class="panel-title">Legend</h3>
        </div>
        <div class="panel-body">
          <div class="legend">
            <h4>Mutation impacts</h4>
            {% for type in mutation_types %}
              <div class="swatch">
                <div class="impact {{ type }}">
                  <div class="color"></div>
                </div>
                <div class="name">{{ type }}</div>
              </div>
            {% endfor %}
          </div>
          <div class="legend">
            <h4>Sites</h4>
            {% for type in site_types %}
              <div class="swatch">
                <div class="site {{ type }}">
                  <div class="color"></div>
                </div>
                <div class="name">{{ type }}</div>
              </div>
            {% endfor %}
          </div>
          <div class="legend">
            <h4>Others</h4>
            <div class="swatch">
              <div class="site-position"></div>
              <div class="name">Exact position of a PTM site</div>
            </div>
          </div>
        </div>
      </div>

      <div id="sticky_box">

        {# Filters #}
        <form method="GET" class="widget-form">
          {% include 'widgets/filters_box.html' %}
          <input type="hidden" name="fallback" value="True">
        </form>

        {# Contact us #}
        {% with feature='protein', title=protein.gene.name + ' - ' + protein.refseq %}
          {% include "contact_box.html" %}
        {% endwith %}

      </div>

    </div>
    <div class="col-md-9">
      {# Summary #}
      <div class="panel panel-default panel-with-btn protein-summary">
        <div class="panel-heading">
          <div class="heading-left">
            <h3 class="panel-title">Protein summary</h3>
          </div>
          <div class="heading-right">
            This is {{ 'preferred' if protein.is_preferred_isoform else 'an alternative' }} isoform of {{ protein.gene.name }} protein.
            {% set other_isoforms_count = protein.gene.isoforms | length - 1 %}
            {% if other_isoforms_count > 0 %}
              <a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}" class="btn btn-default">View all {{ protein.gene.isoforms | length }} isoforms</a>
            {% endif %}
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">

              <div class="gene-wide-data">
                <dl class="dl-horizontal">
                  <div class="strand">
                    <dt>Strand</dt>
                    <dd>{{ '+' if protein.gene.strand else '-' }}</dd>
                  </div>
                  <div>
                    <dt>Chromosome</dt>
                    <dd>{{ protein.gene.chrom }}</dd>
                  </div>
                </dl>
              </div>

              <dl class="dl-horizontal">
                <dt>Protein</dt>
                <dd>{{ protein.length }} residues</dd>
                <dt>All mutations</dt>
                <dd>{{ protein.confirmed_mutations | length }}</dd>
              </dl>

            </div>
            <div class="col-md-6">

              <dl class="dl-horizontal">
                <dt>PTM sites</dt>
                <dd>{{ protein.sites | length }}</dd>
                {% if protein.cds_start and protein.cds_end %}
                  <dt>CDS</dt>
                  <dd>{{ '{:,}'.format(protein.cds_start) }} - {{ '{:,}'.format(protein.cds_end) }}</dd>
                {% endif %}
                {% if protein.tx_start and protein.tx_end %}
                  <dt>Transcription</dt>
                  <dd>{{ '{:,}'.format(protein.tx_start) }} - {{ '{:,}'.format(protein.tx_end) }}</dd>
                {% endif %}
              </dl>

            </div>
          </div>
          {% include "protein/disorder_bar.html" %}
        </div>
      </div>


      {# Plot #}
      <div class="panel panel-default panel-needleplot panel-with-btn visualisation">
        <div class="panel-heading">
          <div class="heading-left">
            <h3 class="panel-title">Mutations Visualisation</h3>
          </div>
          <div class="heading-right">
            {% include 'buttons/export.html' %}
          </div>
        </div>
        <div class="panel-body">
          <div id="protein_spinner" class="visualisation_spinner">
            <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
          </div>
          <div id="plot_area"></div>
        </div>
      </div>

      {# tracks #}
      <div class="panel panel-default panel-tracks">
        <div class="panel-body">
          <div id="tracks-box">
            {#  To be loaded with JS #}
            {#
            {% with tracks=tracks %}
              {% include 'protein/tracks.html' %}
            {% endwith %}
            #}
          </div>
        </div>
      </div>

      {# table #}
      <div id="table-wrapper">
        {# The table will be filled with HTML over AJAX request for mutations details #}
      </div>

      {# references #}
      {% include 'protein/external_references.html' %}

    </div>
  </div>

{% endblock %}


{% block footer_js %}
  {% assets "js_protein_view" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript">

    nunjucks.configure('/static/js_templates', {autoescape: true});

    affix($('#sticky_box'), $('footer'));

    short_url = ShortURL();
    short_url.init(
      "{{ url_for('ShortAddress:get_shorthand_for') }}",
      "{{ url_for('ShortAddress:visit_shorthand', shorthand='<shorthand>', _external=True) }}"
    );

    var tracks = Tracks();

    var tracks_box = $('#tracks-box');
    var needle_plot = null;
    var plot = document.getElementById('plot_area');
    var form = $($('.widget-form')[0]);

    function init_plot(variable_config)
    {
        needle_plot = NeedlePlot();

        var params = {
            element: plot,
            sequenceLength: {{ protein.sequence | length }},
            name: '{{ protein.gene.name }}',
            zoom_callback: tracks.setZoom,
            position_callback: tracks.setAAPosition,
            zoomAndMove_callback: tracks.setZoomAndMove,
            width: tracks_box.width(),
            site_tooltip: function(d){
                return (d.start + 7) + ' ' + d.type
            },
            mutations_color_map: {
                'distal': 'yellow',
                'network-rewiring': 'red',
                'direct': 'darkred',
                'proximal': 'orange',
                'none': 'darkgray'
            },
            onload: function(){ $('#protein_spinner').hide() }
        };

        update_object(params, variable_config);

        needle_plot.init(params);
        return needle_plot;
    }

    $(window).on('resize', function()
        {
            if (tracks.isReady())
                tracks.refreshScaleFactor();
            if(needle_plot)
            {
                needle_plot.setSize(
                    tracks_box.width(),
                    null,
                    tracks.adjustMaxZoom()
                )
            }
        }
    );


    var mutation_table = MutationTable();

    var $table_wrapper = $('#table-wrapper');
    var $variable_links = $('.variable-url');

    function load_data(data)
    {
        short_url.reset()
        var from_future = history.state && history.state.params.indexOf('=' + data.checksum) !== -1;
        if (md5(form.serialize()) != data.checksum && !from_future)
        {
            console.log('Skipping not actual response');
            return
        }

        $table_wrapper.html(data.mutation_table);
        var $table = $('#table');

        tracks_box.html(data.tracks);

        tracks.init({
            box: tracks_box.get(0)
        });

        var max_zoom = tracks.adjustMaxZoom();

        mutation_table.init($table, data.mutations);

        var variable_config = {
          needle_tooltip: function(mutation) {
            return nunjucks.render(
            'needle_tooltip.njk',
            {
               mutation: mutation,
               value_type: data.value_type
            }
            )
          },
          legends: {
            x: null,
            y: data.value_type + ' of mutations in {{ protein.gene.name }} {{ protein.refseq }}'
          },
          use_log: data.log_scale,
          data: {
            mutations: data.mutations,
            sites: data.sites
          },
          max_zoom: max_zoom
        };

        var needle_plot = init_plot(variable_config);

        tracks.setNeedlePlotInstance(needle_plot);

        var dataset_widgets = $('.dataset-specific');
        var html = $.parseHTML(data.dataset_specific_widgets);

        function serialize(form_fragment)
        {
            return form_fragment.find('input,select').serialize()
        }

        if(from_future)
        {
            form.html(history.state.form);
            dataset_widgets = $('.dataset-specific');
        }

        if(serialize(dataset_widgets) != serialize($(html)))
        {
            dataset_widgets.html(html)
        }

        var params = '';
        if(data.filters_string)
            params += 'filters=' + data.filters_string;

        $variable_links.each(
            function()
            {
                var $a = $(this);
                var pattern = decodeURIComponent($a.data('url-pattern'));
                var new_href = pattern.replace('<filters>', data.filters_string);
                $a.attr('href', new_href);
            }
        );
        history.replaceState(history.state, null, parameterized_url(params))
    }

    function parameterized_url(params)
    {
        var location = window.location.href;
        var splitted = location.split('#');
        var hash = splitted.length > 0 ? splitted[1] : '';
        location = splitted[0].split('?')[0];

        if (params)
            location += '?' + params;
        if (hash)
            location += '#' + hash;
        return location;
    }

    var old_params = get_form_params(form);

    function request_data(params, do_not_save)
    {
        var representation_url = "{{ url_for('ProteinView:representation_data', refseq=protein.refseq) }}";

        if (old_params != params && !do_not_save)
          history.pushState({params: old_params, form: form.html()}, null, parameterized_url(params));
        else
          history.replaceState({params: old_params, form: form.html()}, null, parameterized_url(params));

        $.ajax({
            url: representation_url,
            type: 'GET',
            data: params,
            success: load_data
        })

    }

    // handle change in history
    $(window).on('popstate', function(event) {
        var state = event.originalEvent.state;
        if(state)
        {
            loading()
            request_data(state.params, true)
        }
        if(window.location.hash)
        {
            var mutation_id = window.location.hash.substring(1);
            mutation_table.showMutation(mutation_id)
        }
    })

    function get_form_params(form)
    {

        var params = form.serialize();
        var checksum = md5(params);

        if(params)
            params += '&';
        else
            params += '?';

        params += 'checksum=' + checksum;
        return params
    }

    function loading()
    {

        if (needle_plot)
            needle_plot.destroy();

        // alternatively use some class for table
        var table = $('#table');
        if(table)
            table.bootstrapTable('showLoading');

        $('#protein_spinner').show();
    }

    function onupdate(sending_form)
    {
        if(sending_form[0] != form[0])
        {
            console.log('Error: unknown sender form')
            return
        }

        loading()

        var params = get_form_params(form);

        request_data(params);

        // TODO "all" button
        // TODO "clear" button
    }

    Widgets.init($('.widgets'), form[0], onupdate)

    onupdate(form);

    {% assets "css_protein" %}
        Export.init(
            plot,
            'protein_view:{{ protein.gene.name }}-{{ protein.refseq }}-{{ filters.url_string(expanded=True) }}',
            '{{ ASSET_URL }}'
        )
    {% endassets %}
  </script>

  <script type="text/javascript">
  </script>
  {{ super() }}
{% endblock %}
