{% if protein.full_name %}
  {% set full_name = protein.full_name %}
{% elif protein.gene.full_name %}
  {% set full_name = protein.gene.full_name %}
{% else %}
  {% set full_name = '' %}
{% endif %}

<div class="panel panel-default panel-with-btn protein-summary">
  <div class="panel-heading">
    <div class="heading-left">
      <h3 class="panel-title">
        Protein summary
        {{ help('protein-summary') }}
      </h3>
    </div>
    <div class="heading-right">
      This is {{ 'preferred' if protein.is_preferred_isoform else 'an alternative' }} isoform of {{ protein.gene.name }} protein.
      {% set other_isoforms_count = protein.gene.isoforms | length - 1 %}
      {% if other_isoforms_count > 0 %}
        <a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}" class="btn btn-default">View all {{ protein.gene.isoforms | length }} isoforms</a>
      {% endif %}
    </div>
  </div>
  <div class="panel-body">
    <strong>{{ protein.gene.name }}:</strong>
    {% if full_name %}
      {{ full_name }}
    {% else %}
      {% if protein.gene.isoforms | length == 1 %}
        the only isoform
      {% else %}
        {{ protein.refseq }} isoform
      {% endif %}
    {% endif %}

    <div class="description">
      <strong>Description:</strong>
      <p>
        {{
          protein.summary
            | replace('Publication Note:', '</p><p>Publication Note:<br>')
            | replace('##Evidence-Data-START##', '<p class="evidence-data">Evidence data:<br>')
            | replace('##Evidence-Data-END##', '</p>')
            | safe
          }}
      </p>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="gene-wide-data">
          <dl class="dl-horizontal">
            <div class="strand">
              <dt>Strand</dt>
              <dd>{{ '+' if protein.gene.strand else '-' }}</dd>
            </div>
            <div>
              <dt>Chromosome</dt>
              <dd>{{ protein.gene.chrom }}</dd>
            </div>
          </dl>
        </div>

        <dl class="dl-horizontal">
          <dt>Protein</dt>
          <dd>{{ protein.length }} residues</dd>
          <dt>All mutations</dt>
          <dd>{{ protein.confirmed_mutations_count }}</dd>
        </dl>

      </div>
      <div class="col-md-6">

        <dl class="dl-horizontal">
          <dt>PTM sites</dt>
          <dd>{{ protein.sites | length }}</dd>
          {% if protein.cds_start and protein.cds_end %}
            <dt>CDS</dt>
            <dd>{{ '{:,}'.format(protein.cds_start) }} - {{ '{:,}'.format(protein.cds_end) }}</dd>
          {% endif %}
          {% if protein.tx_start and protein.tx_end %}
            <dt>Transcription</dt>
            <dd>{{ '{:,}'.format(protein.tx_start) }} - {{ '{:,}'.format(protein.tx_end) }}</dd>
          {% endif %}
        </dl>

      </div>
    </div>
    {% include "protein/disorder_bar.html" %}
  </div>
</div>
