{% extends "pathway/index.html" %}

    {% block title %} Pathways - {{ super() }} {% endblock %}

    {% block head %}

      {{ super() }}

      {# Bootstrap-Table #}
      {{ dependency('bootstrap_table') }}
      {{ dependency('bootstrap_table_css') }}

      {# Nunjucks templates #}
      {% if is_debug_mode %}
        {{ dependency('nunjucks') }}
      {% else %}
        {{ dependency('nunjucks_slim') }}
        <script type="text/javascript" src="/static/js_templates/precompiled/pathway.js"></script>
      {% endif %}

      {% assets "js_pathways" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}

    {% endblock %}



{% block content %}

<h3>
  {% block page_title %}
  All pathways
  {% endblock %}
</h3>

{% block description %}
{% endblock %}

<div>
  <div id="toolbar">
    {# put here some filters #}
  </div>
  <table
    id="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-show-export="true"
    data-detail-view="true"
    data-minimum-count-columns="2"
    data-pagination="true"
    data-id-field="id"
    data-page-size="25"
    data-page-list="[10, 25, 50, 100, ALL]"
    data-side-pagination="server"
    data-url="{{ url_for('PathwaysView:' + endpoint, **endpoint_kwargs) }}"
  >
  </table>
</div>

<script>
  var reactome_url = decode_url_pattern('{{ url_for('PathwaysView:details', reactome_id="{{ reactome }}") }}');
  var gene_ontology_url = decode_url_pattern('{{ url_for('PathwaysView:details', gene_ontology_id="{{ gene_ontology }}") }}');
  var reactome_show = decode_url_pattern('{{ url_for('PathwaysView:show', reactome_id="0") }}');
  var gene_ontology_show = decode_url_pattern('{{ url_for('PathwaysView:show', gene_ontology_id="0") }}');

  nunjucks.configure('/static/js_templates', {autoescape: true})

  var query = {{ query | tojson }}

  {% block js_table_init %}
    $(function ()
    {
        initTable($('#table'), query)
    })
  {% endblock %}
</script>


{% endblock %}
