{% extends "base.html" %}

    {% block title %} Pathways - {{ super() }} {% endblock %}

    {% block head %}

      {{ super() }}

      {# Bootstrap-Table #}
      {{ dependency('bootstrap_table') }}
      {{ dependency('bootstrap_table_css') }}

      {# Nunjucks templates #}
      {% if is_debug_mode %}
        {{ dependency('nunjucks') }}
      {% else %}
        {{ dependency('nunjucks_slim') }}
        <script type="text/javascript" src="/static/js_templates/precompiled/pathway.js"></script>
      {% endif %}

    {% endblock %}

{% block content %}

<h3>
  {% block page_title %}
  All pathways
  {% endblock %}
</h3>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/pathways/">Pathways</a></li>
  {% block breadcrumbs %}
  <li class="active">All</li>
  {% endblock %}
</ol>

{% block description %}
{% endblock %}

<div>
  <div id="toolbar">
    {# put here some filters #}
  </div>
  <table
    id="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-show-export="true"
    data-detail-view="true"
    data-detail-formatter="detailFormatter"
    data-minimum-count-columns="2"
    data-pagination="true"
    data-id-field="id"
    data-page-size="25"
    data-page-list="[10, 25, 50, 100, ALL]"
    data-side-pagination="server"
    data-url="{{ url_for('PathwayView:' + endpoint, **endpoint_kwargs) }}"
  >
  </table>
</div>

<script>

  nunjucks.configure('/static/js_templates', {autoescape: true})

  var $table = $('#table')

  function initTable()
  {
    $table.bootstrapTable({
      columns: [
        [
          {% block columns %}
          {
            title: 'Name',
            field: 'description',
            rowspan: 2,
            align: 'center',
            valign: 'middle',
            sortable: true,
          },
          {
            title: 'Pathway ID',
            colspan: 2,
            align: 'center',
            valign: 'middle'
          },
          {
            title: '# genes',
            rowspan: 2,
            sortable: true,
            valign: 'middle',
            align: 'center',
            field: 'gene_count',
          },
          {
            title: 'Genes',
            rowspan: 2,
            //sortable: true,
            valign: 'middle',
            align: 'center',
            field: 'genes',
            formatter: genesFormatter
          }
          {% endblock %}
        ],
        [
          {
            field: 'gene_ontology',
            title: 'Gene Ontology',
            sortable: true,
            align: 'center'
          }, {
            field: 'reactome',
            title: 'Reactome',
            sortable: true,
            align: 'center'
          }
        ]
      ],
      formatLoadingMessage: function ()
      {
        return 'Loading, please wait... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>'
      },
    })
    $table.on('click-row.bs.table', function (e, row, $element)
    {
      $table.bootstrapTable(
        'expandRow',
        $element.data('index')
      )
    })
    setTimeout(function ()
    {
        $table.bootstrapTable('resetView')
    }, 200)
  }

  function detailFormatter(index, row)
  {
      return nunjucks.render(
          'pathway_details.njk',
          {
              pathway: row
          }
      )
  }

  function genesFormatter(value, row, index)
  {
    return nunjucks.render(
        'pathways_gene_list.njk',
        {
            genes: value
        }
    )
  }

  $(function ()
  {
      initTable()
  })
</script>


{% endblock %}
