{% extends "pathway/index.html" %}

    {% block title %} Pathways - {{ super() }} {% endblock %}

    {% block head %}

      {{ super() }}

      {# Bootstrap-Table #}
      {{ dependency('bootstrap_table') }}
      {{ dependency('bootstrap_table_css') }}

      {# Nunjucks templates #}
      {% if is_debug_mode %}
        {{ dependency('nunjucks') }}
      {% else %}
        {{ dependency('nunjucks_slim') }}
        <script type="text/javascript" src="/static/js_templates/precompiled/pathway.js"></script>
      {% endif %}

      {% assets "js_utilities" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}

    {% endblock %}



{% block content %}

<h3>
  {% block page_title %}
  All pathways
  {% endblock %}
</h3>

{% block description %}
{% endblock %}

<div>
  <div id="toolbar">
    {# put here some filters #}
  </div>
  <table
    id="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-show-export="true"
    data-detail-view="true"
    data-detail-formatter="detailFormatter"
    data-minimum-count-columns="2"
    data-pagination="true"
    data-id-field="id"
    data-page-size="25"
    data-page-list="[10, 25, 50, 100, ALL]"
    data-side-pagination="server"
    data-url="{{ url_for('PathwaysView:' + endpoint, **endpoint_kwargs) }}"
  >
  </table>
</div>

<script>

  nunjucks.configure('/static/js_templates', {autoescape: true})

  var $table = $('#table')

  function initTable()
  {
    $table.bootstrapTable({
      columns: [
          {
            title: 'Name',
            field: 'description',
            align: 'center',
            valign: 'middle',
            sortable: true
          },
          {% block columns %}
          {
            title: 'Pathway ID',
            align: 'center',
            width: '150px',
            valign: 'middle',
            formatter: idFormatter
          },
            {
                field: 'gene_ontology',
                title: 'Gene Ontology ID',
                sortable: true,
                visible: false,
                align: 'center'
            },
            {
                field: 'reactome',
                title: 'Reactome ID',
                sortable: true,
                visible: false,
                align: 'center'
            },
          {
            title: '# Genes',
            sortable: true,
            valign: 'middle',
            align: 'center',
            field: 'gene_count'
          },
          {
            title: 'Genes',
            //sortable: true,
            valign: 'middle',
            align: 'center',
            field: 'genes',
            formatter: genesFormatter
          }
          {% endblock %}
      ],
      formatLoadingMessage: function ()
      {
        return 'Loading, please wait... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>'
      },
      silentSort: false
    })
    $table.on('click-row.bs.table', function (e, row, $element)
    {
      $table.bootstrapTable(
        'expandRow',
        $element.data('index')
      )
    })
    setTimeout(function ()
    {
        table.bootstrapTable('resetSearch', {{ query | tojson }})
        $table.bootstrapTable('resetView')
        $table.bootstrapTable('showLoading')

    }, 200)
  }

  function detailFormatter(index, row)
  {
      return nunjucks.render(
          'pathway_details.njk',
          {
              pathway: row
          }
      )
  }

  /*
  Used as callback for buttons on list
   */
  function show_all_genes(btn)
  {
      var btn = $(btn)
      btn.closest('.gene-list').find('li').css('display', 'inline');
      btn.hide();
      event.stopPropagation()
      return false
  }

  function idFormatter(value, row, index)
  {
      {% raw %}
      var ids = []
      if(row.reactome)
        ids.push(format(
              'Reactome: <a href="http://www.reactome.org/content/detail/R-HSA-{{ reactome }}">{{ reactome }}</a>',
              row
        ))
      if(row.gene_ontology)
        ids.push(format(
            'GO: <a href="http://amigo.geneontology.org/amigo/term/GO:{{ gene_ontology }}">{{ gene_ontology }}</a>',
            row
        ))
      return ids.join('\n')
      {% endraw %}
  }

  function genesFormatter(value, row, index)
  {
      nunjucks.installJinjaCompat()
    return nunjucks.render(
        'pathways_gene_list.njk',
        {
            genes: value,
            more: true
        }
    )
  }

  $(function ()
  {
      initTable()
  })
</script>


{% endblock %}
