{% extends "base.html" %}
{% from "text_entry.html" import text with context %}

{% block title %} Pathways - {{ super() }} {% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('PathwaysView:index') }}">Pathways</a></li>
{% endblock %}


{% block content %}

  <h3>Pathways</h3>

  <div>
    {{ text('pathways-index') }}

    <table class="table">
      <tr>
        <th>Mutations</th>
        <th>PTM</th>
        <th>Significant pathways list</th>
        <th title='Number of significant pathways'>Pathways*</th>
        <th>Pathways with significant genes</th>
        <th>Corresponding genes list</th>
        <th title='Number of significant genes'>Genes*</th>
      </tr>
      {% for list in lists %}
        <tr>
          <td>
            {{ list.mutation_source.name }}
          </td>
          <td>
            {{ list.site_type or 'all' }} sites
          </td>
          <td>
            <a href="{{ url_for(
                'PathwaysView:list',
                pathways_list_name=list.pathways_list.name
            ) }}">
              ActivePathways
            </a>
          </td>
          <td>
            {{ list.pathways_list.entries | length }}
          </td>
          <td>
            <a href="{{ url_for(
                'PathwaysView:with_significant_genes',
                significant_gene_list_name=list.gene_list.name
            ) }}">
              Reactome pathways with significant genes
            </a>
          </td>
          <td>
            <a href="{{ url_for(
                'GeneView:list',
                list_name=list.gene_list.name,
                filters=('Mutation.sources:in:' + list.mutation_source_name if list.mutation_source_name else None)
            ) }}">
              Significant genes
            </a>
          </td>
          <td>
            {{ list.gene_list.entries | length }}
          </td>
        </tr>
      {% endfor %}

    </table>
    <p>Alternatively, you can browse a <a href="{{ url_for('PathwaysView:all') }}">list of all pathways</a>.</p>

    {{ text('pathways-index-bottom') }}
  </div>

{% endblock %}
