<form action="{{ url_for('ContentManagementSystem:send_message') }}" method="POST" class="contact_form">
  <div class="form-horizontal">

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Your name" name="name">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Your email address" name="email">
      </div>
    </div>

    <div class="form-group">
      <label for="subject" class="col-sm-2 control-label">Subject</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="subject"
          placeholder="e.g. Regarding protein TP53 - NM_000456"
          {% if feature or title %}
          value="Regarding {{ feature | capitalize }}: {{ title }}"
          {% endif %}
          name="subject"
        >
      </div>
    </div>

  </div>

  <div class="form-group">
    <label for="content">Comments / Questions</label>
    <textarea class="form-control" id="content" rows="15" name="content"></textarea>
  </div>

  <input type="hidden" value="{{ request.path }}" name="after_success">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

  <button type="submit" class="btn btn-primary">Submit</button>

</form>