{% extends "base.html" %}


{% block head %}
  {% assets "css_page" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
{% endblock %}


{% block title %} Login - {{ super() }} {% endblock %}


{% block content %}

  <h3>Login</h3>

  <div>
    <p>Don't have an account? <a href="{{ url_for('ContentManagementSystem:sign_up') }}">Click here to create it now</a>.</p>
    <form method="POST" >
	  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	  <div class="form-group">
		<label for="email">email</label>
		<input type="text" name="email" class="form-control" id="email" placeholder="email">
	  </div>
	  <div class="form-group">
		<label for="password">password</label>
		<input type="password" name="password" class="form-control" id="password" placeholder="password">
	  </div>
	  <div class="checkbox">
		<label>
		  <input type="checkbox" name="remember_me"> Remember me
		</label>
	  </div>
	  <button type="submit" class="btn btn-success">Sign in</button>
    </form>
  </div>
{% endblock %}
