{% extends "base.html" %}


{% block head %}
  {% assets "css_page" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
{% endblock %}


{% block title %} {{ page.title }} - {{ super() }} {% endblock %}


{% block content %}

  <h3>{{ page.title }}</h3>

  <div>
    {{ page.content | safe }}
  </div>
{% endblock %}

{% block user_menu %}
  <a href="{{ url_for('ContentManagmentSystem:edit_page', address=page.address) }}" class="btn btn-warning">
	<span class="glyphicon glyphicon-pencil"></span>
	Edit this page
  </a>
  {{ super() }}
{% endblock %}
