{% extends "base.html" %}


{% block head %}
  {% assets "css_page" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
  {{ dependency('prism') }}
  {{ dependency('prism_bash') }}
  {{ dependency('prism_css') }}
{% endblock %}


{% block title %} {{ page.title }} - {{ super() }} {% endblock %}


{% block content %}

  <h3>{{ page.title }}</h3>

  <div class="page-content">
    {{ page.content | safe | substitute_allowed_variables | safe }}
  </div>
{% endblock %}

{% block user_menu %}
  {% if page and current_user.is_moderator %}
    <a href="{{ url_for('ContentManagementSystem:edit_page', address=page.address) }}" class="btn btn-warning">
	  <span class="glyphicon glyphicon-pencil"></span>
	  Edit this page
    </a>
  {% endif %}
  {{ super() }}
{% endblock %}
