{% extends "base.html" %}


{% block head %}
  {% assets "css_page" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
{% endblock %}


{% block title %} {{ page.title }} - {{ super() }} {% endblock %}


{% block content %}

  <h3>{{ page.title }}</h3>

  <div class="page-content">
    {{ page.content | safe | substitute_allowed_variables | safe }}
  </div>
{% endblock %}

{% block user_menu %}
  {% if page and current_user.is_admin %}
    <a href="{{ url_for('ContentManagmentSystem:edit_page', address=page.address) }}" class="btn btn-warning">
	  <span class="glyphicon glyphicon-pencil"></span>
	  Edit this page
    </a>
  {% endif %}
  {{ super() }}
{% endblock %}
