{% extends "base.html" %}


{% block head %}
  {% assets "css_page" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
{% endblock %}


{% block title %} Create account - {{ super() }} {% endblock %}


{% block content %}

  <h3>New account</h3>

  <div>
    <form method="POST" >
	  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	  <div class="form-group">
		<label for="email">email</label>
		<input type="text" name="email" class="form-control" id="email" placeholder="email">
	  </div>
	  <div class="form-group">
		<label for="password">password</label>
		<input type="password" name="password" class="form-control" id="password" placeholder="password">
	  </div>
	  <div class="checkbox">
		<label>
          <input type="checkbox" name="consent"> I accept following personal data policy:
          <ol>
           <li>User's email address is stored and processed for identification and authorization purposes,
           <li>Cookies are used to keep User logged in without use of inconveniently long URL addresses,
           <li>Data uploaded by the User will be kept for 7 days and afterwards deleted.
          </ol>
		</label>
	  </div>
	  <button type="submit" class="btn btn-success">Create my account</button>
    </form>
  </div>
{% endblock %}
