{% extends "base.html" %}
{% from "text_entry.html" import text with context %}


{% block head %}
  {% assets "css_page" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
{% endblock %}


{% block title %} Reset password - {{ super() }} {% endblock %}


{% block content %}

  <h3>Password reset</h3>

  {{ text('reset_password') }}

  <div>
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="email">
      </div>
      <div class="captcha">
        {{ recaptcha }}
      </div>
      <button type="submit" class="btn btn-success">Reset my password</button>
    </form>
  </div>
{% endblock %}
