{% extends "base.html" %}
{% from "text_entry.html" import text with context %}


{% block head %}
  {% assets "css_page" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
{% endblock %}


{% block title %} Set password - {{ super() }} {% endblock %}


{% block content %}

  <h3>New password</h3>

  {{ text('set_password') }}

  <div>
    <form method="POST" action="{{ url_for('ContentManagementSystem:set_password') }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="password">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm new password</label>
        <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="password">
      </div>
      <button type="submit" class="btn btn-success">Update my password</button>
    </form>
  </div>
{% endblock %}
