{% extends "base.html" %}
{% from "help.html" import help with context %}
{% from "text_entry.html" import text with context %}

{% block title %}
  Statistics - {{ super() }}
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li class="active">{{ Statistics }}</li>
{% endblock %}


{% block content %}
  <h3>Statistics</h3>

  <div class="page-content">

    <h4>PTM sites by type</h4>
    {% set isoforms_labeller = as_labeller({'TRUE': 'Primary isforoms only', 'FALSE': 'All protein isoforms'}) %}

    {{
      plot(
        ggplot(datasets.sites_counts, aes(x='SiteType', y='Count', fill='SiteType', tooltip='Count'))
        + facet_wrap('OnlyPrimary', labeller=isoforms_labeller)
        + geom_bar_interactive(stat='identity')
        + scale_y_continuous(labels=scientific_format(digits=0))
        + coord_flip()
        + theme_minimal()
        + theme(legend_position='none')
      )
    }}

    <h4>Mutations</h4>
    {{
      plot(
        ggplot(datasets.mutation_counts, aes(x='MutationType', y='Count', fill='MutationType', tooltip='Count'))
        + facet_wrap('OnlyPrimary', labeller=isoforms_labeller)
        + geom_bar_interactive(stat='identity')
        + scale_y_continuous(labels=scientific_format(digits=0))
        + coord_flip()
        + theme_minimal()
        + theme(legend_position='none')
      )
    }}

    <h4>Proteins with PTM mutations</h4>
    {{
      plot(
        ggplot(
          datasets.proteins_with_ptm_mutations
          .assign(
            Category=datasets.proteins_with_ptm_mutations.ProteinCategory.str.replace('with PTM muts', '')
          ),
          aes(x='MutationType', y='Count', fill='ProteinCategory', tooltip='Count')
        )
        + geom_bar_interactive(stat='identity', position='dodge')
        + facet_wrap('ProteinCategory', scales='free_y')
        + theme_minimal()
        + theme(legend_position='none')
        + guides(x=guide_axis(angle=45))
        , height=600
      )
    }}

    <h4>Mutated sites</h4>
    The term "mutated PTM site" refers to a site with a mutation within +/- 7aa from the modified residue.
    {{
      plot(
        ggplot(datasets.mutated_sites, aes(x='MutationType', y='SiteType', fill='MutatedSitesCount', tooltip='MutatedSitesCount'))
        + facet_grid('OnlyPrimary', labeller=isoforms_labeller)
        + geom_tile_interactive()
        + theme_minimal()
        + theme(legend_position='none')
        + guides(x=guide_axis(angle=45))
        , height=900
      )
    }}
  <script>
  </script>
  </div>

{% endblock %}
