{% extends "base.html" %}
{% from "help.html" import help with context %}
{% from "text_entry.html" import text with context %}

{% block title %}
  Statistics - {{ super() }}
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li class="active">{{ Statistics }}</li>
{% endblock %}


{% block content %}
  <h3>Statistics</h3>

  <div class="page-content">

    <h4>PTM sites by type</h4>
    {{
      plot(
        ggplot(datasets.sites_counts, aes(x='SiteType', y='Count', fill='SiteType'))
        + facet_wrap('OnlyPrimary')
        + geom_bar(stat='identity')
        + theme_minimal()
      )
    }}

    <h4>Mutations</h4>
    {{
      plot(
        ggplot(datasets.mutation_counts, aes(x='MutationType', y='Count', fill='MutationType'))
        + facet_wrap('OnlyPrimary', labeller='label_both')
        + geom_bar(stat='identity')
        + coord_flip()
        + theme_minimal()
      )
    }}

    <h4>Proteins with PTM mutations</h4>
    {{
      plot(
        ggplot(datasets.proteins_with_ptm_mutations, aes(x='MutationType', y='Count', fill='ProteinCategory'))
        + geom_bar(stat='identity', position='dodge')
        + theme_minimal()
      )
    }}

  <style>
    .mpld3-xgrid line, .mpld3-ygrid line {
        opacity: 0.25
    }
  </style>

  <script>
    // fix an issue with grid obstructing the paths
    document.body.onload = function() {
        document.querySelectorAll('.mpld3-paths-container').forEach(function(g) {
                let axis_element = null;
                for(let sibling of g.parentElement.children) {
                    if (sibling.classList.contains('mpld3-ygrid')) {
                        axis_element = sibling
                    }
                }
                if (axis_element) {
                    g.parentNode.insertBefore(g, axis_element.nextSibling)
                }
            }
        )
    }
  </script>
  </div>

{% endblock %}
