{% extends "base.html" %}
{% from "help.html" import help with context %}
{% from "text_entry.html" import text with context %}

{% block title %}
    {{ protein.gene.name }} - {{ protein.refseq }} - network view - {{ super() }}
{% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_network" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {{ dependency('d3.js') }}
  {{ dependency('md5') }}

  {{ dependency('bootstrap_table') }}
  {{ dependency('bootstrap_table_css') }}

  {# Nunjucks templates #}
  {#
  {% if is_debug_mode %}
    {{ dependency('nunjucks') }}
  {% else %}
    {{ dependency('nunjucks_slim') }}
    <script type="text/javascript" src="/static/js_templates/precompiled/network.js"></script>
  {% endif %}
  #}
  {{ dependency('nunjucks') }}

  {{ dependency('clipboard.js') }}

{% endblock %}


{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('ProteinView:index') }}">Proteins</a></li>
  <li><a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}">{{ protein.gene.name }}</a></li>
  <li class="active">{{ protein.refseq }}</li>
{% endblock %}


{% block content %}

<h3>{{ protein.gene.name }} ({{ protein.refseq }}) {% if protein.gene.full_name %} - {{ protein.gene.full_name }} {% endif %}</h3>
<p class="full-protein-name">{% if protein.full_name %}{{ protein.full_name | title }}{% endif %}</p>

  <div class="isoform-page-options">
    {% with active_tab = 'network-predicted' if predicted_interactions else 'network' %}
      {% include 'isoform_tabs_menu.html' %}
    {% endwith %}
    <div class="actions">
      {% include 'buttons/short_url.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <div id="sticky_box">

        {# Filters #}
        <form method="GET" class="widget-form" id="filters_form">
          {% include 'filters/protein.html' with context %}

          <div class="collapse-me" tabindex="-1">
            {% with collapsed=True %}
              {% include 'network/options.html' %}
            {% endwith %}
          </div>

          <input type="hidden" name="fallback" value="True">
        </form>

        {# Legend #}
        <div class="panel panel-default color-legend">
          <div class="panel-heading">
            <h3 class="panel-title">Legend</h3>
          </div>
          <div class="panel-body">

            <div class="legend">
              <h4>Protein</h4>
              <div class="swatch swatch-centered">
                <div class="protein">
                  <div class="color"></div>
                </div>
                <div class="name">Currently analysed protein</div>
              </div>
            </div>

            <div class="legend">
              <h4>
                Kinases
                {{ help('legend-network-kinases', 'small-top') }}
              </h4>
              <div class="side-by-side">
                <div class="swatch swatch-centered">
                  <div class="kinase">
                    <div class="color"></div>
                  </div>
                  <div class="name">Kinase</div>
                </div>
                <div class="swatch swatch-centered">
                  <div class="svg-node">
                    <div class="node">
                      <svg viewBox="-21 -8 40 20" class="color">
                        <polygon class="group shape" points="-8.176,20.823922,7.13,20.823922,17.955,10,18,-5.307337,7.131,-16.131,-8.176,-16.131,-19,-5.307,-19,10" />
                      </svg>
                    </div>
                  </div>
                  <div class="name">Group</div>
                </div>
                <div class="swatch swatch-centered">
                  <div class="svg-node">
                    <div class="node">
                      <svg viewBox="-21 -15 40 20" class="color">
                        <polygon class="drug shape" points="0,5.36 -17.32,10 -4.64,-2.68 0,-20 4.64,-2.68 17.32,10" />
                      </svg>
                    </div>
                  </div>
                  <div class="name">Drug</div>
                </div>

              </div>
              <div class="swatch swatch-centered">
                <div class="name">
                  Mutations in a kinase:
                </div>
                <div class="kinase-gradient gradient">
                  <div class="left-edge edge">0</div>
                  <div class="color"></div>
                  <div class="right-edge edge">max</div>
                </div>
              </div>
            </div>

            <div class="legend">
              <h4>
                Sites
                {{ help('legend-network-sites', 'small-top') }}
              </h4>
              <div class="swatch swatch-centered">
                <div class="site example">
                  <div class="color"></div>
                </div>
                <div class="name">PTM Site</div>
                <div class="name"><p>Color corresponds to (the&nbsp;most severe) impact of mutations on given site:</p></div>
                <div class="sites">
                  {% for type in mutation_types %}
                    <div class="swatch">
                      <div class="site impact {{ type }}">
                        <div class="color"></div>
                      </div>
                      <div class="name">{{ type }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="legend">
              <h4>Interactions</h4>
              <div class="swatch">
                <div class="interaction normal">
                  <div class="link">
                    <div class="color"></div>
                  </div>
                  <div class="kinase">
                    <div class="color"></div>
                  </div>
                  <div class="site none">
                    <div class="color"></div>
                  </div>
                </div>
                <div class="name">Kinase interacts with analysed protein at this site</div>
              </div>
              <div class="swatch">
                <div class="interaction loss">
                  <div class="link">
                    <div class="color"></div>
                  </div>
                  <div class="kinase">
                    <div class="color"></div>
                  </div>
                  <div class="site network-rewiring">
                    <div class="color"></div>
                  </div>
                </div>
                <div class="name">
                  Loss of interaction predicted
                  {{ help('legend-network-interaction-loss', 'small-top') }}
                </div>
              </div>
              {% if predicted_interactions %}
              <div class="swatch">
                <div class="interaction gain">
                  <div class="link">
                    <div class="color"></div>
                  </div>
                  <div class="kinase">
                    <div class="color"></div>
                  </div>
                  <div class="site network-rewiring">
                    <div class="color"></div>
                  </div>
                </div>
                <div class="name">
                  Gain of interaction predicted
                  {{ help('legend-network-interaction-gain', 'small-top') }}
                </div>
              </div>
              {% endif %}
            </div>

          </div>
        </div>

        {# Contact us #}
        {% with feature='protein', title=protein.gene.name + ' - ' + protein.refseq %}
          {% include "contact_box.html" %}
        {% endwith %}

      </div>

    </div>
    <div class="col-md-9">

      {# network #}
      <div class="panel panel-default panel-with-btn network visualisation">
          <div class="panel-heading">
            <div class="heading-left">
              <h3 class="panel-title">
                PTM Interaction Network Visualisation
                {{ help('ptm-network-visualisation') }}
              </h3>
            </div>
            <div class="heading-right">

              <div class="btn-group zooming" role="group">
                <button type="button" class="btn btn-default zoom-in" title="Zoom in">
                  <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
                <button type="button" class="btn btn-default zoom-fit" title="Fit to the window">
                  <span class="glyphicon glyphicon-screenshot"></span> Fit window
                </button>
                <button type="button" class="btn btn-default zoom-out" title="Zoom out">
                  <span class="glyphicon glyphicon-zoom-out"></span>
                </button>
              </div>

              {% with entity='network' %}
                {% include 'buttons/export.html' %}
              {% endwith %}
            </div>
          </div>
          <div class="panel-body">
            <div id="network_spinner" class="visualisation_spinner">
              <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
            </div>
            <div id="network_plot">
            </div>
          </div>
      </div>

      {# Summary #}
      {% include 'protein/summary.html' %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Usage summary
          </h3>
        </div>
        <div class="panel-body">
          {{ text('network-usage-summary') }}
        </div>
      </div>

      {# references #}
      {% include 'protein/external_references.html' %}

    </div>
  </div>

{% endblock %}


{% block footer_js %}
    <script type="text/javascript">
        var network_spinner = $('#network_spinner');
        $('#spinner').hide();
        network_spinner.show();
    </script>


    {% assets "js_network_view" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


    <script type="text/javascript">
    nunjucks.configure('/static/js_templates', {autoescape: true});
    nunjucks.installJinjaCompat()

    affix($('#sticky_box'), $('footer'));

    var plot = document.getElementById('network_plot');
    var network;

    function init_network(variable_config)
    {
        network = Network();

        var config = {
            element: plot,
            radius: 20,
            ratio: 0.5, /* remember to keep update with style of network */
            nodeURL: function(node){
                return '{{ url_for('SequenceView:show', refseq='') }}' + node.protein.refseq
            },
            onload: function(){ network_spinner.hide() }
        };

        update_object(config, variable_config);

        network.init(config);

        $('.zoom-in').click(network.zoom_in);
        $('.zoom-out').click(network.zoom_out);
        $('.zoom-fit').click(function(){network.zoom_fit()});
    }

    var collapse_it = $('.collapse-me');
    collapse_it.find('.panel-heading').click(function()
      {
        $(this).closest('.panel').find('.panel-body').toggleClass('js-hidden').trigger('PotentialAffixChange');
      }
    );

    var short_url = ShortURL();
    short_url.init(
        "{{ url_for('ShortAddress:get_shorthand_for') }}",
        "{{ url_for('ShortAddress:visit_shorthand', shorthand='<shorthand>', _external=True) }}"
    );

    {% raw %}
    var export_title_pattern = 'network_view:{{ gene }}-{{ refseq }}-{{ expanded_filters }}';
    {% endraw %}
    {% if predicted_interactions %}
        export_title_pattern = 'predicted:' + export_title_pattern
    {% endif %}

    {% assets "css_network" %}
    Export.init(
        plot,
        'network_view:{{ protein.gene.name }}-{{ protein.refseq }}-{{ filters.url_string(expanded=True) }}',
        '{{ ASSET_URL }}'
    );
    {% endassets %}


    /**
     * Representation of NetworkView as defined in NetworkView:data().
     * @typedef {RepresentationData} NetworkViewData
     * @property {Object} network
     * @property {boolean} clone_by_site
     * @property {boolean} show_sites
     * @property {boolean} collide_drugs
     */

    var download_link = decode_url_pattern("{{
      url_for(
        'NetworkView:download' + ('_predicted' if predicted_interactions else ''),
         refseq=protein.refseq,
         format='{{ format }}',
         filters='{{ filters }}'
      )
    }}")

    /**
     * Callback for AsyncFiltersHandler loading representation from server response.
     * @callback
     * @param {NetworkViewData} data
     * @param {FiltersData} filters_data
     */
    function load_data(data, filters_data)
    {

        short_url.reset();

        Export.update_title(
            format(
                export_title_pattern,
                {
                    gene: '{{ protein.gene.name }}',
                    refseq: '{{ protein.refseq }}',
                    expanded_filters: filters_data.expanded_query
                }
            )
        );

        Export.set_custom_exporters(
            [
                {
                    name: 'TSV file',
                    icon: 'file',
                    url: format(download_link, {format: 'tsv', 'filters': filters_data.query})
                },
                {
                    name: 'JSON file',
                    icon: 'file',
                    url: format(download_link, {format: 'json', 'filters': filters_data.query})
                }
            ]
        );

        var site_type = filters_handler.value('Site.type')
        if(!data.network.kinases.length && !data.network.kinase_groups.length)
        {
            $('.temporary-alert').remove()
            // For experimental network the reason why it is empty is always lack of
            // interactions specific for given PTM site type (or all types).
            // For predicted networks chosen mutation filters play a role too.
            flash(
                'The network of {{ protein.refseq  }} is empty as there are ' +
                'no PTM-specific interaction' +
                '{{
                  ' changes predicted by MIMP'
                  if predicted_interactions else
                  's defined in the experimental database'
                }}' +
                ' (for ' + (site_type !== 'None' ? site_type : 'any of PTM') + ' sites' +
                '{{ ' and mutations meeting filtering criteria' if predicted_interactions else '' }}' +
                ').',
                'warning temporary-alert'
            )
        }
        init_network({
            data: data.network,
            show_sites: data.show_sites,
            collide_drugs: data.collide_drugs,
            clone_by_site: data.clone_by_site
        })
    }

    Widgets.init($('#filters_form'), function(){});

    var filters_handler = AsyncFiltersHandler();

    filters_handler.init({
        form: $('#filters_form'),
        data_handler: load_data,
        endpoint_url: "{{ url_for('NetworkView:' +  ('predicted_' if predicted_interactions else '') + 'data', refseq=protein.refseq) }}",
        on_loading_start: function (){
            if (network)
                network.destroy();
            network_spinner.show();
        },
        on_loading_end: function(){
            // spinner will be hidden after network initialization
            Widgets.init($('#filters_form'), function(){});
        },
        links_to_update: $('.variable-url')
    });

    // force on_update event to load initial representation
    filters_handler.on_update(true);

    var state_handlers = {
        filters: filters_handler
    };

    // handle change in history
    $(window).on('popstate', function(event) {
        var state = event.originalEvent.state;
        if(state)
        {
            var handler = state_handlers[state.handler];
            handler.apply(state.filters_query, true, true)
        }
    });
  </script>
    {{ super() }}
{% endblock %}
