{% from "search/gene_results.html" import gene_results with context %}

<form
    action="{{ url_for('SearchView:index', target=target) }}"
    class="search-form"
    method="{{ 'GET' if target == 'proteins' else 'POST' }}"
    id="{{ target }}-form"
    {% if target == 'mutations' %} enctype="multipart/form-data" {% endif %}
>
  {% if target == 'proteins' %}
    <div class="options">
    </div>
    <div class="inputs {{ 'hidden' if results }}">
      <input
        type="text"
        name="proteins"
        class="form-control"
        placeholder="TP53 or NM_000345"
        id="protein_search"
        {% if query %} value="{{ query }}" {% endif %}
      >
    </div>
    <div class="results panel panel-default {{ 'hidden' if not results }}">
      <ul>
      {% for result in results %}
        {{ gene_results(result) }}
      {% endfor %}
      </ul>
      <div class="empty {{ 'hidden' if results }}">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <p>Start typing the name of a protein or refseq identifier to get results</p>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-primary">
        Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
  {% elif target == 'mutations' %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    {# TODO: the example should return more representative results #}
    {% set example='chr12 57490358 C A\nSTAT6 W2541C' %}
    <div class="options">
      <span class="btn btn-default btn-file">
        Select VCF file  <input type="file" name="mutations-file">
      </span>
      <a href="?mutations={{ example | urlencode }}" class="btn btn-default set-example">Load an example</a>
      <button type="submit" class="btn btn-primary mut-search">
        Search {{ 'again' if results }} <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
    <div class="inputs" class="{{ 'hidden' if results }}">
      {# The length of the textarea should change dynamically up to 30 rows - JS #}
      {# The single-line placeholder will be substituted by multiline placeholder with JS in all browsers #}
      <textarea
        name="mutations"
        class="form-control"
        placeholder="chr1 12345678 A C"
        data-full-placeholder="Type in genomic or protein mutations separated by new lines, in following format:\n{{ example }}\n(you can mix genomic and protein mutations as long as each is placed in a separate line)"
        rows="6"
        >
        {%- if query -%}
          {{ query }}
          {%- endif -%}
      </textarea>
    </div>
    <div class="results {{ 'hidden' if not results }}">
      {#
        Results should be in a form of a table where mappings are shown
        together with links to appropiate sites. Below the table information
        about positions that where not found in the database should be displayed
      #}
      <div id="toolbar"></div>

      <table
        class="table table-rowspan-hover"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
      >
        <thead>
        <tr>
          <th>User input</th>
          <th data-sortable=true>Gene name</th>
          <th data-sortable=true>Refseq</th>
          <th data-sortable=true>Ref aa</th>
          <th data-sortable=true>Alt aa</th>
          <th data-sortable=true>Position</th>
          <th data-sortable=true>is PTM?</th>
        </tr>
        </thead>
        {% for line in results %}
          <tbody>
          {% for result in line.results %}
            <tr>
              {% if loop.first %}
                  <td rowspan={{ loop.length }}>{{ line.user_input }}</td>
              {% endif %}
              <td>{{ result.protein.gene.name }}</td>
              <td>{{ result.protein.refseq }}</td>
              <td>{{ result.ref }}</td>
              <td>{{ result.alt }}</td>
              <td>{{ result.pos }}</td>
              <td></td>
            </tr>
          {% endfor %}
          </tbody>
        {% endfor %}
        <tfoot>
          <tr>
            <td colspan=7>Queries without mutations found in the database: {{ without_mutations | length }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  {% endif %}
</form>

