{% from "search/gene_results.html" import gene_results with context %}

<form
    action="{{ url_for('SearchView:index', target=target) }}"
    class="search-form"
    method="{{ 'GET' if target == 'proteins' else 'POST' }}"
    id="{{ target }}-form"
    {% if target == 'mutations' %} enctype="multipart/form-data" {% endif %}
>
  {% if target == 'proteins' %}
    <div class="options">
    </div>
    <div class="inputs">
      <input
        type="text"
        name="proteins"
        class="form-control"
        placeholder="TP53 or NM_000345"
        id="protein_search"
        {% if query %} value="{{ query }}" {% endif %}
      >
    </div>
    <div class="results panel panel-default {{ 'hidden' if not results }}">
      <ul>
      {% for result in results %}
        {{ gene_results(result) }}
      {% endfor %}
      </ul>
      <div class="empty {{ 'hidden' if results }}">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <p>Please type at least three characters to get the results.</p>
        <p>You can use a name of a protein (like BRCA1) or refseq identifier (like 000345 or NM_000345).</p>
        <p class="addition">If you want search with just one or two characters, you can still use search button (below).</p>
      </div>
      <div class="waiting hidden">
        <span class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span>
        <p>Retrieving results...</p>
      </div>
      <div class="no-results hidden">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <p>No results found</p>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-primary">
        Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
  {% elif target == 'mutations' %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    {# TODO: the example should return more representative results #}
    {% set example='HTR3E I183823756M\nSTAT6 W737C\nchr12 57490358 C A\nTP53 R282W\nBRCA1 L432V' %}
    <div class="options">
      <a class="btn btn-default btn-file">
        Select VCF file  <input type="file" name="vcf-file">
      </a>
      <a href="?mutations={{ example | urlencode }}" class="btn btn-default set-example">Load an example</a>
      <button type="submit" class="btn btn-primary mut-search">
        Search {{ 'again' if results }} <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
    <div class="inputs" class="{{ 'hidden' if results }}">
      {# The length of the textarea should change dynamically up to 30 rows - JS #}
      {# The single-line placeholder will be substituted by multiline placeholder with JS in all browsers #}
      <textarea
        name="mutations"
        class="form-control"
        placeholder="chr1 12345678 A C"
        data-full-placeholder="Type in genomic or protein mutations separated by new lines, in following format:\n{{ example }}\n(you can mix genomic and protein mutations as long as each is placed in a separate line)"
        rows="6"
        >
        {%- if query -%}
          {{ query }}
        {%- endif -%}
      </textarea>
      <span class="help-block">
        You can provide a VCF file and plain-text mutation lines above at once, so result for both will be shown on one page.
      </span>
    </div>
    <div class="results {{ 'hidden' if not results and not badly_formatted and not without_mutations }}">
      {% include 'search/mutation_results.html' %}
    </div>
  {% endif %}
</form>
