{% extends 'base.html' %}


{% macro target_button(target_name) %}
  <a
    href="{{ url_for('SearchView:' + target_name, _external=True) }}"
    class="btn btn-default {{ target_name }} {{ 'active' if target==target_name }}"
  >
    {{ target_name | title }}
  </a>
{% endmacro %}


{% block head %}
  {# For filters.js for proteins #}
  {{ dependency('md5') }}

  {% assets "css_search" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" />
  {% endassets %}
{% endblock %}


{% block title %} {{ target | title }} searching - {{ super() }} {% endblock %}


{% block content %}

  <h3>Search for {{ target }}</h3>

  {# one url, target only tells what option is active #}

  {# buttons to switch between mutations and protein #}
  <div class="btn-group btn-group-justified target-switch" role="group">
    {% for name in ('proteins', 'mutations') %}
      {{ target_button(name) }}
    {% endfor %}
  </div>

  <div id="form-area">
    {% if target == 'proteins' %}
      {% include 'search/forms/proteins.html' %}
    {% elif target == 'mutations' %}
      {% include 'search/forms/mutations.html' %}
    {% endif %}
  </div>

{% endblock %}


{% block footer_js %}
  {% assets "js_search" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript">
    var manager_params = {
      target: '{{ target }}',
      form_area: $('#form-area'),
      url_base: '{{ url_for('SearchView:default') }}'
    }
    SearchManager.init(manager_params)
  </script>
  {{ super() }}
{% endblock %}
