{% extends 'base.html' %}


{% block head %}
  {% if status in ['PENDING', 'PROGRESS'] %}
    <noscript>
     <meta http-equiv="refresh" content="5">
    </noscript>
  {% endif %}
{% endblock %}


{% block content %}

  <div class="state-pending {{ 'hidden' if status != 'PENDING' }}">
    <p>Your search is queued. Please wait. The page will refresh itself soon.
    </p>
  </div>
  <div class="state-progress {{ 'hidden' if status != 'PROGRESS' }}">
    <p>Your search is running: <span id="progress-percent">{{ progress }}</span>%</p>
  </div>

  <div class="state-failure {{ 'hidden' if status != 'FAILURE' }}">
    <p>The search failed. We apologize for the inconvenience. Please try again and let us know if the problem reoccurs.</p>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" id="progress-bar" role="progressbar"
         aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
    </div>
  </div>

{% endblock %}

{% block footer_js %}
  {% assets "js_search_progress" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
      var progress = Progress()
      progress.init({url: '{{ url_for('SearchView:raw_progress', task_id=task.id) }}'})
  </script>
{% endblock %}
