<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/thirdparty/bootstrap/css/bootstrap.min.css">
  {# <script type="text/javascript" src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script> #}
  {% assets "css_common" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "css_print" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" media="print">
  {% endassets %}

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{% block title %}Visualisation Framework for Genome Mutations{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="container">
    {% include 'messages.html' %}
    {% if current_user.is_authenticated %}
    <div class="user-menu">
      {% block user_menu %}
      <a href="{{ url_for('ContentManagmentSystem:list_pages') }}" class="btn btn-warning">
        <span class="glyphicon glyphicon-list-alt"></span>
        Edit pages
      </a>
      <a href="{{ url_for('ContentManagmentSystem:logout') }}" class="btn btn-warning">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
      </a>
      {% endblock %}
    </div>
    {% endif %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer">
      {% block footer %}
      <ul class="list-unstyled">
        <li><a href="https://github.com/reimandlab/Visualistion-Framework-for-Genome-Mutations">Project on GitHub</a></li>
        <li><a href="https://summerofcode.withgoogle.com/projects/#5460568475435008">Project on GSOC website</a></li>
        <li><a href="https://github.com/reimandlab/Visualistion-Framework-for-Genome-Mutations/blob/master/LICENSE">Licence</a></li>
        <li><a href="https://summerofcode.withgoogle.com/organizations/6212058194378752/">Open Genome Informatics</a></li>
      </ul>
      {% endblock %}
    </footer>
    </div>
{% block footer_js %}
{% endblock %}
</body>
</html>
