{% set website_name = system_setting('website_name') or 'Website Name' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ dependency('bootstrap_css') }}

  {# jQuery #}
  {{ dependency('jquery') }}
  {{ dependency('bootstrap_js') }}


  {% assets "css_common" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "css_print" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" media="print">
  {% endassets %}

  <!--[if lt IE 9]>
    {{ dependency('html5shiv') }}
  <![endif]-->
  {{ dependency('history_api') }}

  <title>{% block title %}{{ website_name }}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <script type="text/javascript">
    {# elements with 'js-hidden' class will be hidden only if js is active #}
    var css = document.createElement('style')
    css.type = 'text/css'
    css.innerHTML = '.js-hidden{display: none}.js-shown{display: block!important}'
    document.body.appendChild(css)
  </script>
  <div id="spinner">
    <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
  </div>
  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ website_name  }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="nav navbar-nav navbar-right navbar-form">
            {% include 'search/searchbar.html' %}
          </div>
          <ul class="nav navbar-nav">
            {{ system_menu('top_menu').as_list }}
          </ul>
        </div>
      </div>
    </nav>


    <div class="minor-top-navigation">
      <ol class="breadcrumb">
        {% block breadcrumb %}
          <li><a href="/">Home</a></li>
        {% endblock %}
      </ol>
      <div class="user-menu">
        {% if current_user.is_authenticated %}
          <span class="welcome-user">Welcome {{ current_user.username }}!</span>
          {% block user_menu %}
            {% if current_user.is_admin %}
              <a href="{{ url_for('ContentManagementSystem:list_pages') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-list-alt"></span>
                Pages
              </a>
              <a href="{{ url_for('ContentManagementSystem:list_menus') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-list"></span>
                Menus
              </a>
              <a href="{{ url_for('ContentManagementSystem:settings') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-cog"></span>
                Settings
              </a>
            {% endif %}
            <a href="{{ url_for('ContentManagementSystem:my_datasets') }}" class="btn btn-default">
              <span class="glyphicon glyphicon-log-out"></span>
              My datasets
            </a>
            <a href="{{ url_for('ContentManagementSystem:logout') }}" class="btn btn-default">
              <span class="glyphicon glyphicon-log-out"></span>
              Logout
            </a>
          {% endblock %}
        {% else %}
          <a href="{{ url_for('ContentManagementSystem:login') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        {% endif %}
      </div>
    </div>


    {% set side_menu = system_setting('side_menu') %}
    {% if side_menu.is_active %}
    <div class="row">
      <div class="col-md-9">
    {% endif %}

    <div id="content">
      {% include 'messages.html' %}
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer">
      <ul class="menu list-unstyled">
        {% block footer %}
          {{ system_menu('footer_menu').as_list }}
        {% endblock %}
      </ul>
    </footer>

    {% if side_menu.is_active %}
      </div>
      <div class="col-md-3">
        <h3>{{ side_menu.name }}</h3>
        <ul class="nav nav-pills nav-stacked">
          {{ side_menu.as_list }}
        </ul>
      </div>
    </div>
    {% endif %}

  </div>

{% assets "js_search_bar" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block footer_js %}
<script type="text/javascript">
document.getElementById('spinner').style.display='none'
</script>
{% endblock %}
</body>
</html>
