<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="export_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    Save image as
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="export_dropdown">
    <li><a href="#" class="export_svg"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> SVG image</a>
    <li><a href="#" class="export_print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> PDF file (print)</a>
  </ul>
</div>
