{% extends "base.html" %}
{% from "text_entry.html" import text with context %}

{% block head %}

  {{ super() }}

  {% assets "js_utilities" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {{ dependency('futura_fonts') }}
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  {{ dependency('particles.js') }}

{% endblock %}

{% block title %} Front page - {{ super() }} {% endblock %}

{% block css %}
  {% assets "css_front_page" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block breadcrumbs_bar %}
{% endblock %}

{% block body_class %}front-page{% endblock %}

{% block body %}

  {% with without_searchbar = True %}
    {% include "navbar.html" %}
  {% endwith %}

  <div class="front-page-content page-content main-container">

    <div class="strip strip-top">

      <div class="background">
        <div id="particles-js"></div>
      </div>

      <div class="strip-content">
        <div class="logo">
          <img src="/static/img/logo.png">
        </div>
        <h1 class="website-name">
          {{ system_setting('website_name') }}
        </h1>
        <div class="slogan">
          {{ text('front-page-top', compact_mode=True) }}
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <form
              class="form-group search-box front-search-box"
              method=GET
              action="{{ url_for('SearchView:anything') }}"
            >
              <div class="form-group form-group-lg form-group-xl">

              <input
                name="query"
                class="form-control search-input"
                placeholder="TP53, NM_000345, TP53 R282W or chr12 57490358 C A"
                autocomplete="off"
              >
              <span class="input-icon glyphicon glyphicon-search"></span>
              <span class="input-icon glyphicon glyphicon-refresh glyphicon-spin waiting-indicator"></span>
              <div class="list-group bar-results">
                <a href="#" class="list-group-item">
                  Start typing to get results
                </a>
              </div>
              </div>
            </form>
          </div>
        </div>

        <div class="advanced">
          {{ text('advanced-search', compact_mode=True) }}
        </div>

      </div>

    </div>

    {% include 'messages.html' %}

    <div class="row row-stats">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="strip strip-stats">
          {{ text('front-page-stats') }}
        </div>
      </div>
    </div>
    <div class="row row-introduction">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="strip text-based-strip">
          {{ text('front-page-introduction') }}
        </div>
      </div>
    </div>
    <div class="row row-showcase">
      <div class="col-md-10 col-md-offset-1">
        <div class="strip text-based-strip">
          {{ text('front-page-showcase') }}
        </div>
      </div>
    </div>
  <div class="row row-about">
    <div class="col-md-10 col-md-offset-1">
      <div class="strip text-based-strip">
        {{ text('front-page-about') }}
      </div>
    </div>
  </div>
{% endblock %}



{% block footer_js %}
  {{ super() }}
  <script type="text/javascript">

  var main_search_bar = SearchBar()
  var mutation_template = decodeURIComponent('<a href="{{ url_for('MutationView:show', refseq='{{ refseq }}', position='{{ pos }}', alt='{{ alt }}') }}" class="list-group-item">{{ '{{ name }} {{ badges }}' }}</a>');

  main_search_bar.init({
      box: $('.front-search-box'),
      autocomplete_url: '{{ url_for('SearchView:autocomplete_all') }}',
      template: advanced_searchbar_templator(mutation_template)
  })

  particlesJS.load('particles-js', 'static/particlesjs-config.json', function() { });

  </script>
{% endblock %}
