<ul class="nav nav-tabs">
  <li role="presentation" class="{{ 'active' if active_tab == 'sequence' }}">
    <a
      href="{{ url_for('SequenceView:show', refseq=protein.refseq, filters=filters.url_string()) }}"
      class="variable-url"
      data-url-pattern="{{ url_for('SequenceView:show', refseq=protein.refseq, filters='{{ filters }}') | safe }}"
    >
      <span class="glyphicon glyphicon-indent-left" style="transform:rotate(-90deg)"></span>
      Sequence View
    </a>
  <li role="presentation" class="{{ 'active' if active_tab == 'network' }}">
    <a
      href="{{ url_for('NetworkView:show', refseq=protein.refseq, filters=filters.url_string()) }}"
      class="variable-url"
      data-url-pattern="{{ url_for('NetworkView:show', refseq=protein.refseq, filters='{{ filters }}') | safe }}"
    >
      <span class="glyphicon glyphicon-globe"></span>
      Network view
    </a>
  <li role="presentation" class="{{ 'active' if active_tab == 'network-predicted' }}">
    <a
      href="{{ url_for('NetworkView:predicted', refseq=protein.refseq, filters=filters.url_string()) }}"
      class="variable-url"
      data-url-pattern="{{ url_for('NetworkView:predicted', refseq=protein.refseq, filters='{{ filters }}') | safe }}"
    >
      <span class="glyphicon glyphicon-globe"></span>
      Network view, predicted
    </a>
</ul>
