{% with messages=get_flashed_messages(with_categories=true) %}
  <div class="flashes">
    {% for category, message in messages %}
      <div class="alert alert-{{ category or 'warning' }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    {% if system_setting('is_maintenance_mode_active') %}
      <div class="alert alert-warning">
        The site is currently in maintenance mode. Some functions may be temporarily unavailable.
        {{ system_setting('maintenace_text') }}
      </div>
    {% endif %}
    {% if system_setting('alert_text') %}
        <div class="alert alert-info">
        {{ system_setting('alert_text') | safe }}
        </div>
    {% endif %}
  </div>
{% endwith %}
