{% extends "base.html" %}

{% block title %}
    {{ protein.gene.name }} - {{ protein.refseq }} - network view - {{ super() }}
{% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_network" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}


  {# jQuery #}
  <script src="/static/thirdparty/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {# D3.js #}
  {# <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> #}
  <script src="/static/thirdparty/d3.v3.min.js" charset="utf-8"></script>

  {# Bootstrap multiselect #}
  <script type="text/javascript" src="/static/thirdparty/bootstrap-multiselect/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="/static/thirdparty/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css"/>

  {# Nunjucks templates #}
  {% if is_debug_mode %}
    <script type="text/javascript" src="/static/thirdparty/nunjucks.js"></script>
  {% else %}
    <script type="text/javascript" src="/static/thirdparty/nunjucks-slim.min.js"></script>
    <script type="text/javascript" src="/static/js_templates/precompiled/network.js"></script>
  {% endif %}
{% endblock %}


{% block content %}

    <h3>{{ protein.gene.name }} - {{ protein.refseq }}</h3>

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/network">Network</a></li>
        <li><a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}">{{ protein.gene.name }}</a></li>
        <li class="active">{{ protein.refseq }}</li>
    </ol>

  <form method="get" id="widget-form">
    {% include 'forms/filters_box.html' %}

    <div class="collapse-me" tabindex="-1">
      {% with collapsed=True %}
          {% include 'forms/options.html' %}
      {% endwith %}
    </div>

    <div class="panel panel-default network">
        <div class="panel-heading">
            <a href="{{ url_for('ProteinView:show', refseq=protein.refseq, filters=filters.url_string) }}"  role="button" class="btn btn-default" title="Show protein">
                <span class="glyphicon glyphicon-indent-left" aria-hidden="true" style="transform:rotate(-90deg)"></span>
                Show protein sequence view
            </a>

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default zoom-in" title="Zoom in">
                  <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Zoom in
              </button>
              <button type="button" class="btn btn-default zoom-fit" title="Fit to the window">
                  <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Fit to the window
              </button>
              <button type="button" class="btn btn-default zoom-out" title="Zoom out">
                  <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> Zoom out
              </button>
            </div>
            {% include 'export_buttons.html' %}
            {% include 'forms/filters_bar.html' %}
        </div>
        <div class="panel-body">
          <div id="network_spinner">
            <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
          </div>
          <div id="network_plot">
          </div>
        </div>
    </div>

    <input type="hidden" name="fallback" value="True">
  </form>

{% endblock %}


{% block footer_js %}
  <script type="text/javascript">
    $('#spinner').hide()
    $('#network_spinner').show()
  </script>


    {% assets "js_network_view" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
    nunjucks.configure('/static/js_templates', {autoescape: true})

    var plot = document.getElementById('network_plot')

    Network.init({
        show_sites: {{ filters.get_value('JavaScript.show_sites') | lower }},
        clone_by_site: {{ filters.get_value('JavaScript.clone_by_site') | lower }},
        element: plot,
        data: "{{ url_for('NetworkView:representation', refseq=protein.refseq, filters=filters.url_string) }}" {# {{ data | json | safe }} #},
        radius: 20,
        ratio: 0.5, /* remember to keep update with style of network */
        nodeURL: function(node){
            return '{{ url_for('ProteinView:show', refseq='') }}' + node.protein.refseq
        },
        onload: function(){ $('#network_spinner').hide() }
    })

    $('.zoom-in').on('click', Network.zoom_in)
    $('.zoom-out').on('click', Network.zoom_out)
    $('.zoom-fit').on('click', function(){Network.zoom_fit()})

    var collapse_it = $('.collapse-me')
    collapse_it.find('.panel-heading').on('click', function()
      {
        $(this).closest('.panel').find('.panel-body').toggleClass('js-hidden')
      }
    )

    {% assets "css_network" %}
    Export.init(
        plot,
        'network_view:{{ protein.gene.name }}-{{ protein.refseq }}',
        '{{ ASSET_URL }}'
    )
    {% endassets %}

  </script>
{% endblock %}
