{% extends "base.html" %}

{% block title %} {{ protein.gene.name }} - {{ protein.refseq }} - network view - {{ super() }} {% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_network" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}


  {# jQuery #}
  <script src="/static/thirdparty/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {# D3.js #}
  {# <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> #}
  <script src="/static/thirdparty/d3.v3.min.js" charset="utf-8"></script>

{% endblock %}


{% block content %}

<h3>{{ protein.gene.name }} - {{ protein.refseq }}</h3>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/network">Network</a></li>
  <li><a href="{{ url_for('GeneView:show', gene_name=protein.gene.name) }}">{{ protein.gene.name }}</a></li>
  <li class="active">{{ protein.refseq }}</li>
</ol>

<div id="network_plot"></div>

{% with filters=filters %}
  {% include 'widgets/filters.html' %}
{% endwith %}
{% endblock %}


{% block footer_js %}
    {% assets "js_network_view" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">

    Network.init({
        show_sites: {{ filters.active.show_sites | lower }},
        clone_by_site: {{ filters.active.clone_by_site | lower }},
        element: document.getElementById('network_plot'),
        data: {{ data | safe }},
        dataURL: '{{ url_for('NetworkView:kinases', refseq=protein.refseq) }}',
        minimalRadius: 15,
        ratio: 0.5, /* remember to keep update with style of network */
        nodeURL: function(node){
            return '{{ url_for('ProteinView:show', refseq='') }}' + node.protein.refseq
        }
    })

    </script>
{% endblock %}
