{% extends "base.html" %}

{% block title %} {{ protein.name }} - network view - {{ super() }} {% endblock %}

{% block head %}
    {{ super() }}

  {# jQuery #}
  <script src="/static/thirdparty/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% endblock %}


{% block content %}

<h3>{{ protein.name }}</h3>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/protein">Proteins</a></li>
  <li><a href="/network">Network</a></li>
  <li class="active">{{ protein.name }}</li>
</ol>

<div id="plot_area">
    {% for kinase in neighbours %}
        {{ kinase }} <br>
    {% endfor %}
</div>

<div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
      </div>
    {% with filters=filters %}
      {% include 'widgets/filters.html' %}
    {% endwith %}
 </div>
</div>

RefSeq: <a href='http://www.ncbi.nlm.nih.gov/nuccore/{{ protein.refseq }}'>{{ protein.refseq }}</a>

{% endblock %}


{% block footer_js %}
    {% assets "js_protein_view" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        {#
        var params = {
            element: document.getElementById('plot_area'),
            mutations: '{{ url_for('ProteinView:mutations', name=protein.name, filters=filters.active.url_string) }}',
            sites: '{{ url_for('ProteinView:sites', name=protein.name) }}',
            sequenceLength: {{ protein.sequence | length }},
            name: '{{ protein.name }}',
            refseq: '{{ protein.refseq }}'
        }
        NeedlePlot.init(params)
        #}
    </script>
{% endblock %}
