{% macro venn(name, sets, title='', elements_description='') %}

  <h4 class="text-center">{{ title }}</h4>
  <div>
    <button type="button" class="btn btn-default save_venn_btn" id="venn_{{ name }}_btn">
      <span class="glyphicon glyphicon-camera"></span>
    </button>
    <div id="venn_{{name}}" class="venn"></div>
  </div>


  <script>
    var sets = {{ sets | tojson }};
    var chart = venn.VennDiagram();

    var name = "#venn_{{name}}"
    var div = d3.select(name)
    div.datum(sets).call(chart)

    div.selectAll("path")
        .style("stroke-opacity", 0)
        .style("stroke", "#fff")
        .style("stroke-width", 3)

    add_venn_tooltip(div, '{{elements_description}}')

    var exporter = Export();

    exporter.init($(name).get(0), '{{ title }}', null, null, '*{font-family:sans}')
    $(name + '_btn').click(exporter.export_svg)

  </script>

{% endmacro %}

{% macro box_plot(name, traces, title='', mode='group', y_axis={}, x_axis={}, annotations={}) %}

  <div id="box_plot_{{name}}"></div>

  <script>
      var data = {{ traces | tojson }};

      var layout = {
          yaxis: {{ y_axis | tojson }},
          xaxis: {{ x_axis | tojson }},
          boxmode: '{{ mode }}',
          title: '{{ title }}',
          annotations: {{ annotations | tojson }},
          {% for attr, value in kwargs.items() %}
            {{ attr }}: {{ value | tojson }},
          {% endfor %}
      }


      plot('box_plot_{{ name }}', data, layout);
  </script>

{% endmacro %}

{% macro bar_plot(name, traces, title='', y_axis={}, x_axis={}) %}

  <div id="bar_plot_{{name}}"></div>

  <script>
      var data = {{ traces | tojson }};

      var layout = {
          yaxis: {{ y_axis | tojson }},
          xaxis: {{ x_axis | tojson }},
          title: '{{ title }}',
          {% for attr, value in kwargs.items() %}
              {{ attr }}: {{ value | tojson }},
          {% endfor %}
      }


      plot('bar_plot_{{ name }}', data, layout);
  </script>

{% endmacro %}
