{% macro venn(name, sets, title='', elements_description='') %}

  <h4 class="text-center">{{ title }}</h4>
  <div id="venn_{{name}}"></div>

  <script>
    var sets = {{ sets | tojson }};
    var chart = venn.VennDiagram();

    var div = d3.select("#venn_{{name}}").attr("class", "venn")
    div.datum(sets).call(chart)

    div.selectAll("path")
        .style("stroke-opacity", 0)
        .style("stroke", "#fff")
        .style("stroke-width", 3)

    add_venn_tooltip(div, '{{elements_description}}')
  </script>

{% endmacro %}

{% macro box_plot(name, traces, title='', mode='group', y_axis={}, x_axis={}, annotations={}) %}

  <div id="box_plot_{{name}}"></div>

  <script>
      var data = {{ traces | tojson }};

      var layout = {
          yaxis: {{ y_axis | tojson }},
          xaxis: {{ x_axis | tojson }},
          boxmode: '{{ mode }}',
          title: '{{ title }}',
          annotations: {{ annotations | tojson }},
          {% for attr, value in kwargs.items() %}
            {{ attr }}: {{ value | tojson }},
          {% endfor %}
      }


      Plotly.newPlot('box_plot_{{ name }}', data, layout, {displaylogo: false});
  </script>

{% endmacro %}

{% macro bar_plot(name, traces, title='', y_axis={}, x_axis={}) %}

  <div id="bar_plot_{{name}}"></div>

  <script>
      var data = {{ traces | tojson }};

      var layout = {
          yaxis: {{ y_axis | tojson }},
          xaxis: {{ x_axis | tojson }},
          title: '{{ title }}',
          {% for attr, value in kwargs.items() %}
              {{ attr }}: {{ value | tojson }},
          {% endfor %}
      }


      Plotly.newPlot('bar_plot_{{ name }}', data, layout, {displaylogo: false});
  </script>

{% endmacro %}
