{% extends "base.html" %}

{% block title %} {{ protein.gene.name }} - {{ protein.refseq }} - protein view - {{ super() }} {% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_protein" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}


  {# D3.js #}
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  {# NeedlePlot #}
  <script src="/static/thirdparty/muts-needle-plot/muts-needle-plot@0.9.1"></script>
  <script src="/static/thirdparty/muts-needle-plot/dependencies/underscore.js"></script>
  <script src="/static/thirdparty/muts-needle-plot/dependencies/d3-svg-legend.js"></script>

  {# jQuery #}
  <script src="/static/thirdparty/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {# Bootstrap-Table #}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

  {# Export extension for jQuery and Bootstrap-Table #}
  <script src="/static/thirdparty/bootstrap-table/tableExport.js"></script>
  <script src="/static/thirdparty/bootstrap-table/bootstrap-table-export.js"></script>
  
{% endblock %}


{% block content %}

<h3>{{ protein.gene.name }} - {{ protein.refseq }}</h3>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{{ url_for('ProteinView:index') }}">Proteins</a></li>
  <li class="active">{{ protein.gene.name }}</li>
  <li class="active">{{ protein.refseq }}</li>
</ol>

{% with filters=filters %}
  {% include 'widgets/filters.html' %}
{% endwith %}

<div class="panel panel-default">
  <div class="panel-body">
    <div id="plot_area"></div>
    <div id="tracks-box">
      {% with tracks=tracks %}
        {% include 'widgets/tracks.html' %}
      {% endwith %}
    </div>
  </div>
</div>

<ul>
    <li>RefSeq: <a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ protein.refseq }}">{{ protein.refseq }}</a>
    <li>Disorder percentage: {{ protein.disorder_length / protein.length * 100 }}</a>
    <li><a href="{{ url_for('NetworkView:show', refseq=protein.refseq) }}">Show network</a>
</ul>

{% with mutations=mutations %}
  {% include 'widgets/table.html' %}
{% endwith %}

{% endblock %}


{% block footer_js %}
    {% assets "js_protein_view" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        var tracks = Tracks()
        tracks.init({
            box: document.getElementById('tracks-box')
        })
        max_zoom = tracks.adjustMaxZoom()
        var params = {
            max_zoom: max_zoom,
            element: document.getElementById('plot_area'),
            mutations: '{{ url_for('ProteinView:mutations', refseq=protein.refseq, filters=filters.active.url_string) }}',
            sites: '{{ url_for('ProteinView:sites', refseq=protein.refseq) }}',
            sequenceLength: {{ protein.sequence | length }},
            name: '{{ protein.gene.name }}',
            legends:
            {
                x: null,
                y: '# of mutations in {{ protein.gene.name }} {{ protein.refseq }}'
            },
            zoom_callback: tracks.setZoom,
            position_callback: tracks.setAAPosition,
            width: $('#tracks-box').width()
        }
        var needle_plot = NeedlePlot()
        needle_plot.init(params)
        tracks.setNeedlePlotInstance(needle_plot)
    </script>
{% endblock %}
