{% extends "base.html" %}

{% block title %} {{ protein.name }} - protein view - {{ super() }} {% endblock %}

{% block head %}
  {{ super() }}

  {% assets "css_protein" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}


  {# NeedlePlot #}
  <script src="https://wzrd.in/bundle/muts-needle-plot@0.9.1"></script>
  <script src="http://workmen.biojs.net/github/bbglab/muts-needle-plot/master/src/js/dependencies/d3.js"></script>
  <script src="http://workmen.biojs.net/github/bbglab/muts-needle-plot/master/src/js/dependencies/underscore.js"></script>
  <script src="http://workmen.biojs.net/github/bbglab/muts-needle-plot/master/src/js/d3-svg-legend.js"></script>
  {# jQuery #}
  <script src="/static/thirdparty/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {# Bootstrap-Table #}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

  {# Export extension for jQuery and Bootstrap-Table #}
  <script src="/static/thirdparty/bootstrap-table/tableExport.js"></script>
  <script src="/static/thirdparty/bootstrap-table/bootstrap-table-export.js"></script>
  
{% endblock %}


{% block content %}

<h3>{{ protein.name }}</h3>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{{ url_for('ProteinView:index') }}">Proteins</a></li>
  <li class="active">{{ protein.name }}</li>
</ol>

{% with filters=filters %}
  {% include 'widgets/filters.html' %}
{% endwith %}

<div id="plot_area"></div>

<ul>
    <li>RefSeq: <a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ protein.refseq }}">{{ protein.refseq }}</a>
    <li><a href="{{ url_for('NetworkView:show', name=protein.name) }}">Show network</a>
</ul>

<div class="panel panel-default">
  <div class="panel-body">
    {% with tracks=tracks %}
      {% include 'widgets/tracks.html' %}
    {% endwith %}
 </div>
</div>

{% with mutations=mutations %}
  {% include 'widgets/table.html' %}
{% endwith %}

{% endblock %}


{% block footer_js %}
    {% assets "js_protein_view" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        var params = {
            element: document.getElementById('plot_area'),
            mutations: '{{ url_for('ProteinView:mutations', name=protein.name, filters=filters.active.url_string) }}',
            sites: '{{ url_for('ProteinView:sites', name=protein.name) }}',
            sequenceLength: {{ protein.sequence | length }},
            name: '{{ protein.name }}',
            refseq: '{{ protein.refseq }}'
        }
        NeedlePlot.init(params)
    </script>
{% endblock %}
