{% macro text(id, btn_class='', compact_mode=False) %}
  <div class="text-entry inline-editable" data-id="{{ id }}">
    {% if current_user.is_moderator %}
      <div>
        <button class="btn btn-default btn-sm edit-btn" type="button">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </div>
    {% endif %}

    <div class="content">{{ text_entry(id) | safe | substitute_allowed_variables | safe }}</div>

    {% if current_user.is_moderator %}
      <div class="alert alert-warning feedback" role="alert"></div>

      <div class="edit-form">
        <textarea class="form-control new-content inline-entry" placeholder="Text" data-compact="{{ 'true' if compact_mode else 'false' }}">{{ text_entry(id) | safe }}</textarea>
        <div class="btn-group buttons" role="group">
          <button type="button" class="btn btn-default btn-primary save-btn">
            <span class="glyphicon glyphicon-ok"></span>
            Save
          </button>
          <button type="button" class="btn btn-default reject-btn">
            <span class="glyphicon glyphicon-remove"></span>
            Reject
          </button>
        </div>
      </div>
    {% endif %}
  </div>

{% endmacro %}
