{% macro make_track(track) -%}
    <div class="track {{ track.class_name }} {{ 'under_seq' if track.inline }}">
        <div class="elements">
        {% if track.elements is string %}
           {{ track.elements }}
        {% else %}
        {% for element in track.elements %}
            <div style="left:{{ element.start }}ch;width:{{ element.length }}ch">
                {{ element.name }}
            </div>
        {% endfor %}
        {% endif %}
        </div>
        <div class="subtracks">
        {% for subtrack in track.subtracks %}
        {{ make_track(subtrack) }}
        {% endfor %}
        </div>
    </div>
{%- endmacro %}

{% macro make_list(tracks) -%}
    <ul>
        {% for track in tracks %}
            {% if not track.inline %}
            <li>
                {{ track.display_name | title | safe }}
                {% if track.subtracks %}
                    {{ make_list(track.subtracks) }}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro %}


<div class="tracks-box">
    <div class="controls">
        {# The controls have to be in the same containers as appropriate tracks #}

        <div class="input-group">
            <div class="input-group-btn">
                <button class="btn btn-default scroll-left">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default scroll-right">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default zoom-in">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default zoom-out">
                    <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
                </button>
            </div>
            {#
                At the moment of writing I can not use type=number
                http://caniuse.com/#feat=input-number
            #}
            <input type="text" class="form-control scroll-to-input" placeholder="Type a position...">
            <span class="input-group-addon">amino acids</span>
            <span class="input-group-btn">
              <button class="btn btn-default scroll-to" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->

    </div>
    <div class="inner">
        <div class="description">
            {{ make_list(tracks) }}
        </div>
        <div class="tracks">
            <div class="scroll-area">
                {% for track in tracks %}
                {{ make_track(track) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
