beautifulsoup4
Flask==0.12.2
Flask-Assets==0.12
Flask-Classful==0.13.1
Flask-SQLAlchemy==2.2
passlib==1.6.5
webassets==0.12.1
mysqlclient
tqdm
python-Levenshtein
flask_login
bsddb3
Flask-Mail
jinja2_pluralize
yuicompressor
flask-recaptcha
flask-limiter
flask_apscheduler