matplotlib
networkx
obonet
diskcache
numpy
pandas==0.24.2
sqlalchemy==1.2.18
beautifulsoup4
rpy2==2.9.2
Jinja2==2.10.1
Flask==1.0.2
Flask-Assets==0.12
Flask-Classful==0.13.1
Flask-SQLAlchemy==2.3.1
passlib==1.6.5
webassets==0.12.1
mysqlclient
tqdm
python-Levenshtein
flask_login
bsddb3
Flask-Mail
jinja2_pluralize
yuicompressor
flask-recaptcha
flask-limiter
flask_apscheduler
celery==4.3
amqp
redis
gprofiler-official
simplejson
scipy
scikit-learn
pyBigWig
pyinterval
cryptography
Werkzeug==0.15.2

